In [16]:
from data_prep.data_prep import prepare_all_data
from training.training import train_model, prepare_model_data, create_learner
from model import burglary_model
from utils.utils import single_out_last, setup_reproducibility
from testing.testing import PredictionTester, StatisticalTester

model_tuple, occupation_mappings = prepare_all_data("../merged_data.parquet", "lsoa")

In [17]:
device = setup_reproducibility(42)
training_data, testing_data = single_out_last(model_tuple[0])
svi = create_learner(burglary_model)

In [18]:
#List of Cut Features
factors_cut = {
    "b_static": [
        "Public Transport Accessibility Levels|Average Public Transport Access Score",
        "Shopping locations",
        "Emergency locations",
        "Ethnic Group|Mixed/multiple ethnic groups (%)",
        "area",
        "Car or van availability|4 or more cars or vans in household (%)",
        "Household Composition|% Lone parent household",
        "Public transport locations",
        "Household Composition|% Other multi person household",
        "Household Composition|% Couple household without dependent children",
        "Car or van availability|No cars or vans in household (%)",
        "Tenure|Owned outright (%)",
        "Ethnic Group|BAME (%)",
        "Tenure|Owned with a mortgage or loan (%)",
        "Food locations",
        "Public Transport Accessibility Levels|% 4-6 (good access)|Level3_66",
        "Ethnic Group|Other ethnic group (%)",
        "Dwelling type|Flat, maisonette or apartment (%)",
        "Leisure locations",
        "Entertainment locations",
        "Parking locations",
        "Car or van availability|1 car or van in household (%)"
    ],
    "b_dynamic": [
        "Living Environment Rank (where 1 is most deprived)",
        "Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)",
        "Employment Rank (where 1 is most deprived)",
        "Education, Skills and Training Rank (where 1 is most deprived)",
        "Mid-year Population Estimates|Aged 16-29",
        "Health Deprivation and Disability Rank (where 1 is most deprived)",
        "Mid-year Population Estimates|Working-age",
        "Mid-year Population Estimates|Aged 65+",
        "Income Rank (where 1 is most deprived)",
        "Barriers to Housing and Services Rank (where 1 is most deprived)"
    ],
    "b_seasonal": ["month_sin"],
    "b_time_tr": [],
    "b_temporal": ["lag_2", "lag_4", "lag_3"],
    "b_spatial": [
        "lag1_median_neighbors",
        "lag1_sum_neighbors",
        "lag1_mean_neighbors"
    ]
}

In [19]:
#Cut useless columns - You can ignore this block if you want to use all features
factors_keep = {
    "b_static": [
        "Household Composition|% One person household",
        "Public Transport Accessibility Levels|% 2-3 (average access)|Level3_66",
        "Ethnic Group|White (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|1a",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|1b",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|2",
        "Ethnic Group|Asian/Asian British (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|4",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|5",
        "Car or van availability|Cars per household",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|6a",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|6b",
        "Car or van availability|2 cars or vans in household (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|3",
        "Households|All households",
        "Ethnic Group|Black/African/Caribbean/Black British (%)",
        "Tenure|Social rented (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|0",
        "Tenure|Private rented (%)",
        "shared_length",
        "Car or van availability|3 cars or vans in household (%)"
    ],
    "b_dynamic": [
        "Mid-year Population Estimates|All Ages",
        "Crime Rank (where 1 is most deprived)",
        "Mid-year Population Estimates|Aged 30-44"
    ],
    "b_seasonal": ["during_corona", "post_corona", "month_cos"],
    "b_time_tr": ["time_s"],
    "b_temporal": ["lag_1"],
    "b_spatial": []
}
model_tuple = list(model_tuple)     
for idx, key in enumerate(
        ["b_static", "b_dynamic", "b_seasonal", "b_time_tr", "b_temporal", "b_spatial"],
        start=1):
    model_tuple[idx] = [c for c in model_tuple[idx] if c in factors_keep[key]]
model_tuple = tuple(model_tuple)

In [20]:
train_data = prepare_model_data(training_data, *model_tuple[1:], device)
training_results = train_model(train_data, svi, num_steps=500)

Training SVI: 100%|██████████| 500/500 [00:16<00:00, 30.26it/s]

In [21]:
test_data = prepare_model_data(testing_data, *model_tuple[1:], device, training_results[-2], training_results[-1])
prediction_tester = PredictionTester(test_data, burglary_model, svi.guide, occupation_mappings[1])

In [22]:
prediction_tester.predict(5_000)

In [23]:
prediction_tester.get_all_predictions()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
E01000001,0,0,1,1,1,0,1,0,1,3,...,0,2,1,0,1,1,0,0,0,0
E01000002,0,1,0,0,1,0,0,1,1,0,...,1,1,0,0,0,0,1,2,1,2
E01000003,0,1,0,1,0,1,2,2,0,0,...,1,0,0,0,3,0,0,1,1,0
E01000005,0,1,0,2,3,1,2,1,1,2,...,1,0,0,3,1,2,2,3,2,1
E01000006,0,0,0,1,0,2,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E01035688,0,1,2,0,0,1,3,1,1,1,...,0,1,1,3,0,3,3,1,3,2
E01035689,0,4,0,2,1,0,0,0,1,0,...,1,1,0,2,0,0,1,0,1,0
E01035690,4,0,2,1,1,4,2,1,1,2,...,2,1,2,3,1,0,3,1,0,1
E01035691,1,1,1,0,0,2,1,0,1,0,...,2,2,2,0,2,2,2,1,1,1
E01035692,2,4,3,1,0,5,0,2,3,3,...,2,3,0,0,4,2,2,1,2,3

In [24]:
prediction_tester.get_confidence_intervals(alpha=0.05)

           lower_bound  upper_bound
E01000001          0.0          2.0
E01000002          0.0          3.0
E01000003          0.0          2.0
E01000005          0.0          3.0
E01000006          0.0          2.0
...                ...          ...
E01035688          0.0          3.0
E01035689          0.0          3.0
E01035690          0.0          5.0
E01035691          0.0          4.0
E01035692          0.0          5.0

[4964 rows x 2 columns]

In [25]:
prediction_tester.get_mean_predictions()

             mean
E01000001  0.5352
E01000002  0.5836
E01000003  0.4600
E01000005  0.7306
E01000006  0.5504
...           ...
E01035688  1.0284
E01035689  0.6736
E01035690  1.8694
E01035691  1.1480
E01035692  1.5298

[4964 rows x 1 columns]

In [26]:
prediction_tester.get_median_predictions("sample_predictions.parquet")

           median
E01000001     0.0
E01000002     0.0
E01000003     0.0
E01000005     1.0
E01000006     0.0
...           ...
E01035688     1.0
E01035689     0.0
E01035690     2.0
E01035691     1.0
E01035692     1.0

[4964 rows x 1 columns]

In [27]:
factors_map ={
    "b_static": model_tuple[1],
    "b_dynamic": model_tuple[2],
    "b_seasonal": model_tuple[3],
    "b_time_tr": model_tuple[4],
    "b_temporal": model_tuple[5],
    "b_spatial": model_tuple[6],
}


statistical_tester = StatisticalTester(test_data, burglary_model, svi.guide, factors_map)

In [28]:
statistical_tester.predict(5_000)

In [29]:
factor_summaries= statistical_tester.evaluate_all()
print(factor_summaries)

{'b_static':                                                   col      mean  ci_lower  \
0                           Tenure|Private rented (%)  0.166313  0.111308
1   Public Transport Accessibility Levels|Number o...  0.122157  0.088900
2   Public Transport Accessibility Levels|Number o...  0.121598  0.080013
3   Public Transport Accessibility Levels|Number o...  0.100642  0.055490
4   Public Transport Accessibility Levels|Number o...  0.104972  0.046946
5                                       shared_length  0.074196  0.033696
6   Public Transport Accessibility Levels|Number o...  0.096670  0.049586
7   Car or van availability|3 cars or vans in hous...  0.140967  0.059614
8   Public Transport Accessibility Levels|Number o...  0.072874  0.028004
9   Public Transport Accessibility Levels|Number o...  0.075633  0.027466
10  Car or van availability|2 cars or vans in hous... -0.103748 -0.174905
11                          Households|All households  0.052942  0.007712
12         Car or van availability|Cars per household  0.068031  0.005629
13  Public Transport Accessibility Levels|Number o...  0.042987  0.002787
14                           Tenure|Social rented (%)  0.046503 -0.009036
15  Ethnic Group|Black/African/Caribbean/Black Bri...  0.034902 -0.009569
16  Public Transport Accessibility Levels|% 2-3 (a...  0.035200 -0.010689
17       Household Composition|% One person household  0.039188 -0.014482
18               Ethnic Group|Asian/Asian British (%) -0.023536 -0.056702
19                             Ethnic Group|White (%)  0.005739 -0.035305
20  Public Transport Accessibility Levels|Number o... -0.003597 -0.040112

    ci_upper   p_val significant_CI
0   0.219771  0.0000            Yes
1   0.155313  0.0000            Yes
2   0.161274  0.0000            Yes
3   0.146880  0.0000            Yes
4   0.164107  0.0000            Yes
5   0.113844  0.0004            Yes
6   0.143926  0.0004            Yes
7   0.215795  0.0008            Yes
8   0.118024  0.0008            Yes
9   0.123990  0.0020            Yes
10 -0.032717  0.0036            Yes
11  0.098322  0.0220            Yes
12  0.132280  0.0328            Yes
13  0.083400  0.0388            Yes
14  0.103850  0.1100             No
15  0.080715  0.1272             No
16  0.082228  0.1312             No
17  0.091460  0.1516             No
18  0.009659  0.1708             No
19  0.046373  0.7672             No
20  0.033419  0.8444             No  , 'b_dynamic':                                         col      mean  ci_lower  ci_upper  \
0     Crime Rank (where 1 is most deprived) -0.118791 -0.161796 -0.076889
1    Mid-year Population Estimates|All Ages  0.060405  0.018293  0.102992
2  Mid-year Population Estimates|Aged 30-44 -0.032837 -0.089840  0.025129

    p_val significant_CI
0  0.0000            Yes
1  0.0048            Yes
2  0.2624             No  , 'b_seasonal':              col      mean  ci_lower  ci_upper   p_val significant_CI
0      month_cos  0.052568  0.026930  0.077140  0.0000            Yes
1    post_corona -0.080967 -0.117303 -0.044423  0.0000            Yes
2  during_corona -0.062748 -0.094292 -0.032196  0.0004            Yes, 'b_time_tr':       col      mean  ci_lower  ci_upper   p_val significant_CI
0  time_s -0.066548 -0.100231 -0.031028  0.0004            Yes, 'b_temporal':      col     mean  ci_lower  ci_upper  p_val significant_CI
0  lag_1  0.19663  0.173439  0.220076    0.0            Yes, 'b_spatial': Empty DataFrame
Columns: [col, mean, ci_lower, ci_upper, p_val, significant_CI]
Index: []}

In [30]:
# Simple hyperparameter tuning using a small grid search
from itertools import product
import pandas as pd

# Split the original training data into an internal train/validation split
inner_train, inner_val = single_out_last(training_data)

# Define search space
param_grid = {
    "lr": [1e-2, 5e-3, 1e-3],
    "guide_type": ["diag", "lowrank"],
}
results = []

for lr, guide in product(param_grid["lr"], param_grid["guide_type"]):
    svi = create_learner(burglary_model, lr=lr, guide_type=guide)
    train_ds = prepare_model_data(inner_train, *model_tuple[1:], device)
    svi, losses, means, stds = train_model(train_ds, svi, num_steps=200)

    val_ds = prepare_model_data(inner_val, *model_tuple[1:], device, means, stds)
    val_loss = svi.evaluate_loss(
        val_ds["occupation_idx"],
        val_ds["X_static"],
        val_ds["X_dynamic"],
        val_ds["X_seasonal"],
        val_ds["X_time_trend"],
        val_ds["X_temporal"],
        val_ds["X_spatial"],
        val_ds["y"],
    )
    results.append({"lr": lr, "guide_type": guide, "val_loss": val_loss})

results_df = pd.DataFrame(results).sort_values("val_loss").reset_index(drop=True)
print(results_df)
print("Best parameters:", results_df.loc[0].to_dict())

Training SVI: 100%|██████████| 200/200 [00:06<00:00, 31.24it/s]
Training SVI: 100%|██████████| 200/200 [00:08<00:00, 24.78it/s]
Training SVI: 100%|██████████| 200/200 [00:06<00:00, 32.13it/s]
Training SVI: 100%|██████████| 200/200 [00:07<00:00, 26.16it/s]
Training SVI: 100%|██████████| 200/200 [00:04<00:00, 48.07it/s]
Training SVI: 100%|██████████| 200/200 [00:05<00:00, 34.37it/s]

      lr guide_type      val_loss
0  0.001       diag   6085.112305
1  0.010       diag   6503.429688
2  0.005       diag   6510.358887
3  0.005    lowrank   7940.368164
4  0.001    lowrank   8132.073486
5  0.010    lowrank  10417.592285
Best parameters: {'lr': 0.001, 'guide_type': 'diag', 'val_loss': 6085.1123046875}