In [1]:
from data_prep.data_prep import prepare_all_data
from training.training import train_model, prepare_model_data, create_learner
from model import burglary_model
from utils.utils import single_out_last, setup_reproducibility
from testing.testing import PredictionTester, StatisticalTester

model_tuple, occupation_mappings = prepare_all_data("../merged_data.parquet", "lsoa")

In [2]:
device = setup_reproducibility(42)
training_data, testing_data = single_out_last(model_tuple[0])
svi = create_learner(burglary_model)

In [3]:
train_data = prepare_model_data(training_data, *model_tuple[1:], device)
training_results = train_model(train_data, svi, num_steps=500)

Training SVI: 100%|██████████| 500/500 [00:15<00:00, 33.22it/s]

In [4]:
test_data = prepare_model_data(testing_data, *model_tuple[1:], device, training_results[-2], training_results[-1])
prediction_tester = PredictionTester(test_data, burglary_model, svi.guide, occupation_mappings[1])

In [5]:
prediction_tester.predict(5_000)

In [6]:
prediction_tester.get_all_predictions()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
E01000001,0,1,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,2,0,0,0
E01000002,0,1,0,0,0,0,1,1,0,0,...,0,1,0,0,0,0,0,1,1,1
E01000003,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
E01000005,0,1,0,0,0,3,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
E01000006,0,1,2,1,0,0,1,2,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E01035688,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,1,1,0,0
E01035689,1,0,0,0,0,0,0,0,1,1,...,1,0,0,1,0,0,1,0,0,1
E01035690,5,0,2,0,1,2,1,1,0,0,...,1,3,0,0,1,2,0,1,0,1
E01035691,0,1,2,0,2,0,0,0,0,0,...,1,1,1,0,1,0,1,2,0,0
E01035692,2,1,4,2,1,1,3,0,3,1,...,2,0,1,0,6,3,0,0,1,1

In [7]:
prediction_tester.get_confidence_intervals(alpha=0.05)

           lower_bound  upper_bound
E01000001          0.0          1.0
E01000002          0.0          1.0
E01000003          0.0          2.0
E01000005          0.0          1.0
E01000006          0.0          2.0
...                ...          ...
E01035688          0.0          2.0
E01035689          0.0          2.0
E01035690          0.0          5.0
E01035691          0.0          4.0
E01035692          0.0          6.0

[4964 rows x 2 columns]

In [8]:
prediction_tester.get_mean_predictions()

             mean
E01000001  0.1654
E01000002  0.1624
E01000003  0.2548
E01000005  0.1710
E01000006  0.3434
...           ...
E01035688  0.3400
E01035689  0.2386
E01035690  1.4544
E01035691  0.9742
E01035692  1.8142

[4964 rows x 1 columns]

In [9]:
prediction_tester.get_median_predictions("sample_predictions.parquet")

           median
E01000001     0.0
E01000002     0.0
E01000003     0.0
E01000005     0.0
E01000006     0.0
...           ...
E01035688     0.0
E01035689     0.0
E01035690     1.0
E01035691     1.0
E01035692     2.0

[4964 rows x 1 columns]

In [10]:
factors_map ={
    "b_static": model_tuple[1],
    "b_dynamic": model_tuple[2],
    "b_seasonal": model_tuple[3],
    "b_time_tr": model_tuple[4],
    "b_temporal": model_tuple[5],
    "b_spatial": model_tuple[6],
}

statistical_tester = StatisticalTester(test_data, burglary_model, svi.guide, factors_map)

In [12]:
statistical_tester.predict(5_000)

In [13]:
statistical_tester.evaluate_all()

{'b_static':                                                   col      mean  ci_lower  \
 0   Car or van availability|3 cars or vans in hous...  0.362417  0.263632
 1          Car or van availability|Cars per household  0.440335  0.327118
 2                Ethnic Group|Asian/Asian British (%)  0.239687  0.149922
 3                               Ethnic Group|BAME (%) -0.604784 -0.709642
 4   Ethnic Group|Black/African/Caribbean/Black Bri...  0.269466  0.157570
 5                              Ethnic Group|White (%) -0.163052 -0.256165
 6   Public Transport Accessibility Levels|Number o...  0.336769  0.252678
 7   Public Transport Accessibility Levels|Number o...  0.557695  0.472529
 8   Public Transport Accessibility Levels|% 0-1 (p...  0.695438  0.603499
 9   Public Transport Accessibility Levels|% 2-3 (a...  0.754467  0.681606
 10  Public Transport Accessibility Levels|% 4-6 (g...  0.259292  0.166852
 11                          Households|All households  0.191096  0.099732
 12       Household Composition|% One person household  0.630059  0.546793
 13  Household Composition|% Other multi person hou...  0.335757  0.249721
 14  Household Composition|% Couple household witho...  0.303929  0.172842
 15  Household Composition|% Couple household with ...  0.297035  0.191824
 16  Public Transport Accessibility Levels|Number o...  0.118863  0.064213
 17                           Tenure|Social rented (%)  0.426056  0.328933
 18  Public Transport Accessibility Levels|Number o...  0.511291  0.409712
 19  Public Transport Accessibility Levels|Number o...  0.754069  0.692120
 20  Public Transport Accessibility Levels|Number o...  0.555346  0.481200
 21  Public Transport Accessibility Levels|Number o...  0.739811  0.677378
 22  Public Transport Accessibility Levels|Number o...  0.593312  0.533666
 23                                      shared_length -0.166051 -0.231455
 24                          Tenure|Owned outright (%)  0.351217  0.228684
 25  Public Transport Accessibility Levels|Number o...  0.727924  0.649078
 26                Ethnic Group|Other ethnic group (%)  0.136612  0.053161
 27  Car or van availability|2 cars or vans in hous... -0.199072 -0.316835
 28                                        n_neighbors  0.126737  0.061963
 29           Tenure|Owned with a mortgage or loan (%)  0.169854  0.056466
 30                          Tenure|Private rented (%)  0.194206  0.068866
 31      Ethnic Group|Mixed/multiple ethnic groups (%)  0.158620  0.055804
 32      Household Composition|% Lone parent household  0.152083  0.041894
 33    Dwelling type|Flat, maisonette or apartment (%) -0.177899 -0.309540
 34                                 Shopping locations  0.123131  0.033392
 35                            Entertainment locations  0.052332  0.011788
 36  Public Transport Accessibility Levels|Average ...  0.149544  0.025662
 37                                               area  0.074174  0.001122
 38  Car or van availability|No cars or vans in hou... -0.083278 -0.187511
 39                                Emergency locations  0.038630 -0.009252
 40  Car or van availability|4 or more cars or vans... -0.075107 -0.182553
 41                                Education locations  0.032842 -0.028010
 42                                     Food locations -0.033267 -0.094915
 43  Car or van availability|1 car or van in househ...  0.046314 -0.056788
 44                         Public transport locations -0.025059 -0.101509
 45                                  Leisure locations  0.011817 -0.053170
 46                                  Parking locations -0.000539 -0.048877

     ci_upper   p_val significant_CI
 0   0.459398  0.0000            Yes
 1   0.556296  0.0000            Yes
 2   0.327266  0.0000            Yes
 3  -0.498319  0.0000            Yes
 4   0.380486  0.0000            Yes
 5  -0.070048  0.0000            Yes
 6   0.422038  0.0000            Yes
 7   0.642406  0.0000            Yes
 8   0.787240  0.0000            Yes
 9   0.826987  0.0000            Yes
 10  0.350007  0.0000            Yes
 11  0.278401  0.0000            Yes
 12  0.714360  0.0000            Yes
 13  0.422436  0.0000            Yes
 14  0.430179  0.0000            Yes
 15  0.404264  0.0000            Yes
 16  0.172109  0.0000            Yes
 17  0.522151  0.0000            Yes
 18  0.615016  0.0000            Yes
 19  0.816792  0.0000            Yes
 20  0.628788  0.0000            Yes
 21  0.801590  0.0000            Yes
 22  0.655063  0.0000            Yes
 23 -0.098547  0.0000            Yes
 24  0.474622  0.0000            Yes
 25  0.806345  0.0000            Yes
 26  0.219629  0.0004            Yes
 27 -0.079999  0.0004            Yes
 28  0.189318  0.0008            Yes
 29  0.282657  0.0012            Yes
 30  0.318726  0.0024            Yes
 31  0.258461  0.0024            Yes
 32  0.263603  0.0052            Yes
 33 -0.044356  0.0080            Yes
 34  0.209219  0.0088            Yes
 35  0.091782  0.0120            Yes
 36  0.272977  0.0156            Yes
 37  0.151049  0.0460            Yes
 38  0.018541  0.1100             No
 39  0.086961  0.1200             No
 40  0.033522  0.1864             No
 41  0.093129  0.2844             No
 42  0.029898  0.2916             No
 43  0.150545  0.3804             No
 44  0.052178  0.5240             No
 45  0.077964  0.7352             No
 46  0.048619  0.9844             No  ,
 'b_dynamic':                                                   col      mean  ci_lower  \
 0          Employment Rank (where 1 is most deprived) -0.177382 -0.255054
 1            Mid-year Population Estimates|Aged 45-64 -0.574888 -0.668179
 2            Mid-year Population Estimates|Aged 30-44 -0.308896 -0.408489
 3           Mid-year Population Estimates|Working-age  0.211557  0.100633
 4              Mid-year Population Estimates|All Ages  0.303403  0.215230
 5            Mid-year Population Estimates|Aged 16-29 -0.383666 -0.437294
 6              Mid-year Population Estimates|Aged 65+ -0.135459 -0.235622
 7             Mid-year Population Estimates|Aged 0-15 -0.132626 -0.264664
 8               Crime Rank (where 1 is most deprived) -0.072133 -0.139963
 9   Health Deprivation and Disability Rank (where ... -0.055111 -0.157381
 10  Barriers to Housing and Services Rank (where 1...  0.047970 -0.061693
 11  Index of Multiple Deprivation (IMD) Rank (wher...  0.023584 -0.080820
 12             Income Rank (where 1 is most deprived)  0.025913 -0.092435
 13  Education, Skills and Training Rank (where 1 i...  0.006634 -0.089711
 14  Living Environment Rank (where 1 is most depri...  0.004923 -0.083138

     ci_upper   p_val significant_CI
 0  -0.099417  0.0000            Yes
 1  -0.479806  0.0000            Yes
 2  -0.211514  0.0000            Yes
 3   0.320855  0.0000            Yes
 4   0.393927  0.0000            Yes
 5  -0.329937  0.0000            Yes
 6  -0.034269  0.0116            Yes
 7  -0.004732  0.0428            Yes
 8  -0.002877  0.0440            Yes
 9   0.048782  0.3040             No
 10  0.156847  0.3944             No
 11  0.132504  0.6648             No
 12  0.144683  0.6660             No
 13  0.104161  0.9032             No
 14  0.097179  0.9288             No  ,
 'b_seasonal':              col      mean  ci_lower  ci_upper   p_val significant_CI
 0      month_cos  0.072565  0.028983  0.116718  0.0016            Yes
 1    post_corona -0.028513 -0.072807  0.015339  0.1960             No
 2  during_corona -0.017004 -0.063101  0.029821  0.4828             No
 3      month_sin -0.008931 -0.046580  0.028382  0.6292             No,
 'b_time_tr':       col      mean  ci_lower  ci_upper  p_val significant_CI
 0  time_s -0.131476  -0.19111 -0.068909    0.0            Yes,
 'b_temporal':      col      mean  ci_lower  ci_upper   p_val significant_CI
 0  lag_2  0.082055  0.007123  0.160954  0.0312            Yes
 1  lag_1  0.047707 -0.026537  0.119499  0.2004             No
 2  lag_3  0.042028 -0.029970  0.113651  0.2520             No
 3  lag_4  0.002344 -0.089767  0.094990  0.9684             No,
 'b_spatial':                      col      mean  ci_lower  ci_upper   p_val significant_CI
 0    lag1_mean_neighbors  0.123730  0.063074  0.185677  0.0000            Yes
 1  lag1_median_neighbors -0.016403 -0.075784  0.042271  0.5696             No
 2     lag1_sum_neighbors -0.018039 -0.087741  0.050782  0.5996             No}