In [1]:
from data_prep.data_prep import prepare_all_data
from training.training import train_model, prepare_model_data, create_learner
from model import burglary_model
from utils.utils import single_out_last, setup_reproducibility
from testing.testing import PredictionTester, StatisticalTester

model_tuple, occupation_mappings = prepare_all_data("../merged_data.parquet", "lsoa")

c:\Users\rayan\anaconda3\envs\fdc2\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
device = setup_reproducibility(42)
training_data, testing_data = single_out_last(model_tuple[0])
svi = create_learner(burglary_model)

In [ ]:
#List of Cut Features
factors_cut = {
    "b_static": [
        "Public Transport Accessibility Levels|Average Public Transport Access Score",
        "Shopping locations",
        "Emergency locations",
        "Ethnic Group|Mixed/multiple ethnic groups (%)",
        "area",
        "Car or van availability|4 or more cars or vans in household (%)",
        "Household Composition|% Lone parent household",
        "Public transport locations",
        "Household Composition|% Other multi person household",
        "Household Composition|% Couple household without dependent children",
        "Car or van availability|No cars or vans in household (%)",
        "Tenure|Owned outright (%)",
        "Ethnic Group|BAME (%)",
        "Tenure|Owned with a mortgage or loan (%)",
        "Food locations",
        "Public Transport Accessibility Levels|% 4-6 (good access)|Level3_66",
        "Ethnic Group|Other ethnic group (%)",
        "Dwelling type|Flat, maisonette or apartment (%)",
        "Leisure locations",
        "Entertainment locations",
        "Parking locations",
        "Car or van availability|1 car or van in household (%)"
    ],
    "b_dynamic": [
        "Living Environment Rank (where 1 is most deprived)",
        "Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)",
        "Employment Rank (where 1 is most deprived)",
        "Education, Skills and Training Rank (where 1 is most deprived)",
        "Mid-year Population Estimates|Aged 16-29",
        "Health Deprivation and Disability Rank (where 1 is most deprived)",
        "Mid-year Population Estimates|Working-age",
        "Mid-year Population Estimates|Aged 65+",
        "Income Rank (where 1 is most deprived)",
        "Barriers to Housing and Services Rank (where 1 is most deprived)"
    ],
    "b_seasonal": ["month_sin"],
    "b_time_tr": [],
    "b_temporal": ["lag_2", "lag_4", "lag_3"],
    "b_spatial": [
        "lag1_median_neighbors",
        "lag1_sum_neighbors",
        "lag1_mean_neighbors"
    ]
}

In [ ]:
#Cut useless columns - You can ignore this block if you want to use all features
factors_keep = {
    "b_static": [
        "Household Composition|% One person household",
        "Public Transport Accessibility Levels|% 2-3 (average access)|Level3_66",
        "Ethnic Group|White (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|1a",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|1b",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|2",
        "Ethnic Group|Asian/Asian British (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|4",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|5",
        "Car or van availability|Cars per household",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|6a",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|6b",
        "Car or van availability|2 cars or vans in household (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|3",
        "Households|All households",
        "Ethnic Group|Black/African/Caribbean/Black British (%)",
        "Tenure|Social rented (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|0",
        "Tenure|Private rented (%)",
        "shared_length",
        "Car or van availability|3 cars or vans in household (%)"
    ],
    "b_dynamic": [
        "Mid-year Population Estimates|All Ages",
        "Crime Rank (where 1 is most deprived)",
        "Mid-year Population Estimates|Aged 30-44"
    ],
    "b_seasonal": ["during_corona", "post_corona", "month_cos"],
    "b_time_tr": ["time_s"],
    "b_temporal": ["lag_1"],
    "b_spatial": []
}
model_tuple = list(model_tuple)     
for idx, key in enumerate(
        ["b_static", "b_dynamic", "b_seasonal", "b_time_tr", "b_temporal", "b_spatial"],
        start=1):
    model_tuple[idx] = [c for c in model_tuple[idx] if c in factors_keep[key]]
model_tuple = tuple(model_tuple)

In [5]:
train_data = prepare_model_data(training_data, *model_tuple[1:], device)
training_results = train_model(train_data, svi, num_steps=500)

Training SVI: 100%|██████████| 500/500 [00:12<00:00, 40.24it/s]

In [8]:
test_data = prepare_model_data(testing_data, *model_tuple[1:], device, training_results[-2], training_results[-1])
prediction_tester = PredictionTester(test_data, burglary_model, svi.guide, occupation_mappings[1])

In [9]:
prediction_tester.predict(5_000)

In [10]:
prediction_tester.get_all_predictions()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
E01000001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0
E01000002,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
E01000003,0,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
E01000005,0,0,0,0,2,0,0,0,1,0,...,1,0,0,1,1,0,0,1,0,1
E01000006,0,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E01035688,0,0,2,1,4,0,0,3,0,0,...,0,1,1,1,1,1,0,0,0,5
E01035689,0,4,0,0,0,0,0,2,0,0,...,1,1,0,0,1,1,0,0,0,0
E01035690,1,4,1,1,5,0,2,4,2,0,...,5,0,0,1,1,1,1,1,1,2
E01035691,0,3,1,5,1,1,0,6,0,2,...,1,2,1,1,2,1,0,1,1,0
E01035692,2,2,7,1,5,6,0,12,2,2,...,6,3,3,4,1,4,2,3,2,0

In [11]:
prediction_tester.get_confidence_intervals(alpha=0.05)

           lower_bound  upper_bound
E01000001          0.0          1.0
E01000002          0.0          1.0
E01000003          0.0          2.0
E01000005          0.0          2.0
E01000006          0.0          2.0
...                ...          ...
E01035688          0.0          4.0
E01035689          0.0          2.0
E01035690          0.0          6.0
E01035691          0.0          4.0
E01035692          0.0          8.0

[4964 rows x 2 columns]

In [12]:
prediction_tester.get_mean_predictions()

             mean
E01000001  0.2100
E01000002  0.1698
E01000003  0.2920
E01000005  0.2834
E01000006  0.3842
...           ...
E01035688  0.9254
E01035689  0.4198
E01035690  1.9862
E01035691  1.2760
E01035692  2.9116

[4964 rows x 1 columns]

In [13]:
prediction_tester.get_median_predictions("sample_predictions.parquet")

           median
E01000001     0.0
E01000002     0.0
E01000003     0.0
E01000005     0.0
E01000006     0.0
...           ...
E01035688     1.0
E01035689     0.0
E01035690     2.0
E01035691     1.0
E01035692     2.0

[4964 rows x 1 columns]

In [14]:
factors_map ={
    "b_static": model_tuple[1],
    "b_dynamic": model_tuple[2],
    "b_seasonal": model_tuple[3],
    "b_time_tr": model_tuple[4],
    "b_temporal": model_tuple[5],
    "b_spatial": model_tuple[6],
}


statistical_tester = StatisticalTester(test_data, burglary_model, svi.guide, factors_map)

In [15]:
statistical_tester.predict(5_000)

In [16]:
factor_summaries= statistical_tester.evaluate_all()
print(factor_summaries)

{'b_static':                                                   col      mean  ci_lower  \
0                Ethnic Group|Asian/Asian British (%) -0.279886 -0.337358
1   Household Composition|% Couple household with ... -0.312407 -0.378775
2   Public Transport Accessibility Levels|% 0-1 (p...  0.482611  0.354949
3                              Ethnic Group|White (%) -0.231163 -0.308196
4   Public Transport Accessibility Levels|% 2-3 (a...  1.006114  0.917092
5   Ethnic Group|Black/African/Caribbean/Black Bri... -0.144837 -0.226331
6   Public Transport Accessibility Levels|Number o...  0.368385  0.297645
7        Household Composition|% One person household  0.170154  0.088318
8   Public Transport Accessibility Levels|Number o...  0.664504  0.584470
9                           Households|All households -0.184477 -0.269171
10  Public Transport Accessibility Levels|Number o...  0.445443  0.390085
11  Public Transport Accessibility Levels|Number o...  0.900215  0.815966
12  Public Transport Accessibility Levels|Number o...  0.675938  0.596981
13         Car or van availability|Cars per household  0.306661  0.197513
14  Public Transport Accessibility Levels|Number o...  0.936220  0.861772
15  Public Transport Accessibility Levels|Number o...  0.717144  0.649233
16  Car or van availability|2 cars or vans in hous...  0.398496  0.248266
17  Public Transport Accessibility Levels|Number o...  0.468662  0.372877
18                           Tenure|Social rented (%)  0.218125  0.091806
19  Public Transport Accessibility Levels|Number o...  0.068941  0.021186
20                          Tenure|Private rented (%)  0.135612  0.029579
21                                        n_neighbors  0.082385  0.016626
22                                      shared_length -0.114730 -0.210200
23  Car or van availability|3 cars or vans in hous...  0.094848  0.010117
24                                Education locations  0.047695  0.000842
25  Public Transport Accessibility Levels|Average ...  0.073445 -0.009738
26                                 Shopping locations  0.058540 -0.010480
27                                Emergency locations  0.032994 -0.008786
28      Ethnic Group|Mixed/multiple ethnic groups (%)  0.059117 -0.017120
29                                               area  0.045128 -0.026782
30  Car or van availability|4 or more cars or vans... -0.070442 -0.187688
31      Household Composition|% Lone parent household -0.052121 -0.139061
32                         Public transport locations -0.029141 -0.079590
33  Household Composition|% Other multi person hou... -0.047989 -0.140035
34  Household Composition|% Couple household witho... -0.059857 -0.172469
35  Car or van availability|No cars or vans in hou...  0.055972 -0.053683
36                          Tenure|Owned outright (%)  0.058982 -0.071608
37                              Ethnic Group|BAME (%)  0.033568 -0.041965
38           Tenure|Owned with a mortgage or loan (%)  0.063350 -0.077640
39                                     Food locations  0.026660 -0.048970
40  Public Transport Accessibility Levels|% 4-6 (g... -0.045745 -0.177686
41                Ethnic Group|Other ethnic group (%) -0.016529 -0.086204
42    Dwelling type|Flat, maisonette or apartment (%) -0.020472 -0.139747
43                                  Leisure locations -0.007902 -0.049446
44                            Entertainment locations  0.007139 -0.048757
45                                  Parking locations  0.004430 -0.044603
46  Car or van availability|1 car or van in househ... -0.001185 -0.093817

    ci_upper   p_val significant_CI
0  -0.222487  0.0000            Yes
1  -0.245857  0.0000            Yes
2   0.605164  0.0000            Yes
3  -0.156487  0.0000            Yes
4   1.094373  0.0000            Yes
5  -0.060378  0.0000            Yes
6   0.438998  0.0000            Yes
7   0.255914  0.0000            Yes
8   0.745057  0.0000            Yes
9  -0.097300  0.0000            Yes
10  0.501899  0.0000            Yes
11  0.985995  0.0000            Yes
12  0.755513  0.0000            Yes
13  0.416631  0.0000            Yes
14  1.011482  0.0000            Yes
15  0.785962  0.0000            Yes
16  0.544033  0.0000            Yes
17  0.563682  0.0000            Yes
18  0.342449  0.0004            Yes
19  0.116147  0.0036            Yes
20  0.241278  0.0100            Yes
21  0.147286  0.0120            Yes
22 -0.020538  0.0152            Yes
23  0.179460  0.0308            Yes
24  0.094941  0.0448            Yes
25  0.156693  0.0872             No
26  0.130172  0.1016             No
27  0.074248  0.1176             No
28  0.134402  0.1296             No
29  0.115207  0.2088             No
30  0.041509  0.2204             No
31  0.035865  0.2444             No
32  0.021610  0.2744             No
33  0.038479  0.2908             No
34  0.056035  0.3012             No
35  0.167592  0.3312             No
36  0.185044  0.3548             No
37  0.108708  0.3888             No
38  0.211212  0.3992             No
39  0.103312  0.4896             No
40  0.084305  0.5052             No
41  0.055166  0.6380             No
42  0.096780  0.7244             No
43  0.033358  0.7364             No
44  0.061436  0.7848             No
45  0.053772  0.8760             No
46  0.091270  0.9904             No  , 'b_dynamic':                                                   col      mean  ci_lower  \
0             Mid-year Population Estimates|Aged 0-15  0.186055  0.131471
1            Mid-year Population Estimates|Aged 45-64 -0.277715 -0.342743
2              Mid-year Population Estimates|All Ages -0.147719 -0.239900
3               Crime Rank (where 1 is most deprived) -0.138256 -0.226116
4            Mid-year Population Estimates|Aged 30-44  0.088330  0.003566
5   Living Environment Rank (where 1 is most depri... -0.093560 -0.196816
6   Index of Multiple Deprivation (IMD) Rank (wher...  0.072770 -0.011180
7          Employment Rank (where 1 is most deprived) -0.070089 -0.149921
8   Education, Skills and Training Rank (where 1 i...  0.032118 -0.029022
9            Mid-year Population Estimates|Aged 16-29 -0.043645 -0.127666
10  Health Deprivation and Disability Rank (where ... -0.028888 -0.099290
11          Mid-year Population Estimates|Working-age  0.025635 -0.055193
12             Mid-year Population Estimates|Aged 65+  0.019895 -0.075892
13             Income Rank (where 1 is most deprived) -0.019470 -0.122846
14  Barriers to Housing and Services Rank (where 1...  0.014269 -0.077342

    ci_upper   p_val significant_CI
0   0.239839  0.0000            Yes
1  -0.210287  0.0000            Yes
2  -0.056839  0.0008            Yes
3  -0.052459  0.0020            Yes
4   0.174371  0.0368            Yes
5   0.008217  0.0712             No
6   0.158055  0.0932             No
7   0.010803  0.0980             No
8   0.094040  0.3136             No
9   0.043251  0.3204             No
10  0.040338  0.4020             No
11  0.106600  0.5236             No
12  0.115746  0.6868             No
13  0.080598  0.7176             No
14  0.108596  0.7468             No  , 'b_seasonal':              col      mean  ci_lower  ci_upper   p_val significant_CI
0  during_corona -0.089244 -0.128653 -0.048828  0.0000            Yes
1    post_corona -0.089423 -0.141231 -0.037850  0.0008            Yes
2      month_cos  0.042954  0.002970  0.084286  0.0344            Yes
3      month_sin -0.000765 -0.034256  0.032881  0.9640             No, 'b_time_tr':       col      mean  ci_lower  ci_upper   p_val significant_CI
0  time_s -0.081805 -0.129606 -0.034806  0.0008            Yes, 'b_temporal':      col      mean  ci_lower  ci_upper   p_val significant_CI
0  lag_1  0.091153  0.039686  0.142125  0.0008            Yes
1  lag_2  0.065409 -0.011369  0.140293  0.0948             No
2  lag_4  0.046775 -0.013132  0.108058  0.1332             No
3  lag_3  0.028019 -0.048775  0.103620  0.4604             No, 'b_spatial':                      col      mean  ci_lower  ci_upper   p_val significant_CI
0  lag1_median_neighbors  0.039134 -0.007820  0.088175  0.1088             No
1     lag1_sum_neighbors  0.043258 -0.028689  0.115130  0.2444             No
2    lag1_mean_neighbors -0.005269 -0.049668  0.038225  0.8176             No}