In [1]:
from data_prep.data_prep import prepare_all_data
from training.training import train_model, prepare_model_data, create_learner, grid_search
from model import burglary_model
from utils.utils import single_out_last, setup_reproducibility
from testing.testing import PredictionTester, StatisticalTester

model_tuple, occupation_mappings,ward_idx_map = prepare_all_data("../merged_data.parquet", "lsoa")

c:\Users\rayan\anaconda3\envs\fdc2\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
device = setup_reproducibility(42)
training_data, testing_data = single_out_last(model_tuple[0])
svi = create_learner(burglary_model)

In [ ]:
factors_cut = {
    "b_static": [
        "Tenure|Private rented (%)",
        "Public Transport Accessibility Levels|Number o...",  # (all the truncated PTAL cols where sig=No)
        "Household Composition|% One person household",
        "Household Composition|% Couple household with ...",
        "Household Composition|% Lone parent household",
        "Car or van availability|4 or more cars or vans in hous...",
        "Ethnic Group|Other ethnic group (%)",
        "Parking locations",
        "Ethnic Group|BAME (%)",
        "Ethnic Group|Mixed/multiple ethnic groups (%)",
        "Tenure|Owned with a mortgage or loan (%)",
        "Public Transport Accessibility Levels|% 2-3 (a...",
        "Leisure locations",
        "Education locations",
        "Emergency locations",
        "Public Transport Accessibility Levels|Number o...",
        "Car or van availability|2 cars or vans in hous...",
        "Car or van availability|1 car or van in househ...",
        "Household Composition|% Other multi person hou...",
        "Public Transport Accessibility Levels|Number o...",
        "Dwelling type|Flat, maisonette or apartment (%)",
        "Public transport locations",
        "Food locations",
        "Public Transport Accessibility Levels|% 4-6 (g...",
        "Shopping locations",
        "n_neighbors"
    ],
    "b_dynamic": [
        "lag_1_x_n_neighbors",
        "lag1_diff_neighbors",
        "Education, Skills and Training Rank (where 1 is best)",
        "Employment Rank (where 1 is most deprived)",
        "Crime Rank (where 1 is most deprived)",
        "Barriers to Housing and Services Rank (where 1 is most deprived)",
        "Living Environment Rank (where 1 is most deprived)",
        "Mid-year Population Estimates|Aged 45-64",
        "Mid-year Population Estimates|Aged 0-15"
    ],
    "b_seasonal": [
        "post_corona",
        "month_cos",
        "during_corona",
        "month_sin"
    ],
    "b_time_tr": [
        
    ],
    "b_temporal": [
        "roll_12_mean",
        "lag_3",
        "lag_4"
    ],
    "b_spatial": [
        "lag1_mean_neighbors",
        "lag1_median_neighbors",
        "lag1_sum_neighbors"
    ]
}

In [4]:
#Cut useless columns - You can ignore this block if you want to use all features
factors_keep = {
    "b_static": [
        "Public Transport Accessibility Levels|% 2-3 (average access)|Level3_66",
        "Ethnic Group|White (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|1a",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|1b",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|2",
        "Ethnic Group|Asian/Asian British (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|4",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|5",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|6a",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|6b",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|3",
        "Tenure|Social rented (%)",
        "Public Transport Accessibility Levels|Number of people in each PTAL level:|0",
        "Tenure|Private rented (%)",
        "shared_length",
        "Car or van availability|3 cars or vans in household (%)"
    ],
    "b_dynamic": [
        "Mid-year Population Estimates|All Ages",
        "Mid-year Population Estimates|Aged 30-44"
    ],
    "b_seasonal": [],
    "b_time_tr": [],
    "b_temporal": ["lag_1"],
    "b_spatial": []
}
model_tuple = list(model_tuple)     
for idx, key in enumerate(
        ["b_static", "b_dynamic", "b_seasonal", "b_time_tr", "b_temporal", "b_spatial"],
        start=1):
    model_tuple[idx] = [c for c in model_tuple[idx] if c not in factors_cut[key]]
model_tuple = tuple(model_tuple)

In [3]:
train_data = prepare_model_data(training_data, *model_tuple[1:], device, ward_idx_map= ward_idx_map)
training_results = train_model(train_data, svi, num_steps=500)

Training SVI: 100%|██████████| 500/500 [00:16<00:00, 29.97it/s]

In [4]:
test_data = prepare_model_data(testing_data, *model_tuple[1:], device, training_results[-2], training_results[-1], ward_idx_map)
prediction_tester = PredictionTester(test_data, burglary_model, svi.guide, occupation_mappings[1])

In [5]:
prediction_tester.predict(5_000)

In [6]:
prediction_tester.get_all_predictions()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
E01000001,0,0,1,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
E01000002,0,0,0,2,2,1,0,0,0,0,...,2,0,1,0,0,0,0,0,2,0
E01000003,0,0,2,0,0,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
E01000005,0,0,0,0,0,6,1,2,0,1,...,0,0,0,0,1,0,0,0,0,0
E01000006,7,0,1,0,0,0,1,0,0,0,...,6,0,5,0,0,1,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E01035688,2,1,6,0,0,4,28,5,0,1,...,0,2,7,2,2,2,0,4,3,1
E01035689,1,1,5,0,1,0,10,7,0,1,...,0,1,8,0,0,5,1,1,1,1
E01035690,4,7,6,0,7,2,58,3,5,0,...,1,2,1,4,11,7,2,9,5,2
E01035691,2,2,1,2,12,0,12,4,1,5,...,1,2,1,0,2,1,5,3,1,1
E01035692,5,3,0,1,4,3,58,2,5,2,...,2,7,1,10,2,5,2,3,1,2

In [7]:
prediction_tester.get_confidence_intervals(alpha=0.05)

           lower_bound  upper_bound
E01000001          0.0        1.000
E01000002          0.0        7.000
E01000003          0.0        4.000
E01000005          0.0        4.000
E01000006          0.0        5.000
...                ...          ...
E01035688          0.0       19.000
E01035689          0.0        7.000
E01035690          0.0       24.025
E01035691          0.0        8.025
E01035692          0.0       15.000

[4964 rows x 2 columns]

In [8]:
prediction_tester.get_mean_predictions()

             mean
E01000001  0.1512
E01000002  1.0702
E01000003  0.6334
E01000005  0.6724
E01000006  1.2396
...           ...
E01035688  3.8598
E01035689  1.5728
E01035690  5.0462
E01035691  1.9190
E01035692  3.4034

[4964 rows x 1 columns]

In [9]:
prediction_tester.get_median_predictions("sample_predictions.parquet")

           median
E01000001     0.0
E01000002     0.0
E01000003     0.0
E01000005     0.0
E01000006     1.0
...           ...
E01035688     2.0
E01035689     1.0
E01035690     3.0
E01035691     1.0
E01035692     2.0

[4964 rows x 1 columns]

In [10]:
factors_map ={
    "b_static": model_tuple[1],
    "b_dynamic": model_tuple[2],
    "b_seasonal": model_tuple[3],
    "b_time_tr": model_tuple[4],
    "b_temporal": model_tuple[5],
    "b_spatial": model_tuple[6],
}


statistical_tester = StatisticalTester(test_data, burglary_model, svi.guide, factors_map)

In [11]:
statistical_tester.predict(5_000)

In [12]:
factor_summaries= statistical_tester.evaluate_all()
print(factor_summaries)

{'b_static':                                                   col      mean  ci_lower  \
0   Car or van availability|3 cars or vans in hous... -0.469111 -0.655779
1                              Ethnic Group|White (%)  0.377216  0.189209
2   Ethnic Group|Black/African/Caribbean/Black Bri...  0.498507  0.321684
3                Ethnic Group|Asian/Asian British (%)  0.325042  0.152770
4                            Tenure|Social rented (%)  0.293166  0.111938
5   Public Transport Accessibility Levels|Number o...  0.286901  0.102585
6   Public Transport Accessibility Levels|Number o...  0.283377  0.104689
7   Household Composition|% Couple household witho...  0.280619  0.103381
8   Public Transport Accessibility Levels|Number o...  0.250675  0.076211
9   Public Transport Accessibility Levels|Number o...  0.250903  0.066229
10                          Households|All households -0.262349 -0.447613
11                          Tenure|Owned outright (%) -0.245499 -0.435918
12  Public Transport Accessibility Levels|Average ... -0.229083 -0.412629
13                                      shared_length -0.220687 -0.403187
14                            Entertainment locations  0.181181  0.010852
15         Car or van availability|Cars per household  0.200363  0.009604
16  Public Transport Accessibility Levels|Number o... -0.191294 -0.377652
17                          Tenure|Private rented (%)  0.178390 -0.009362
18  Public Transport Accessibility Levels|Number o...  0.144658 -0.032819
19       Household Composition|% One person household -0.142057 -0.330356
20  Public Transport Accessibility Levels|% 0-1 (p...  0.127044 -0.059131
21  Public Transport Accessibility Levels|Number o...  0.124400 -0.062069
22  Car or van availability|No cars or vans in hou...  0.120483 -0.063452
23                                               area  0.115303 -0.064512
24  Household Composition|% Couple household with ... -0.109452 -0.288903
25      Household Composition|% Lone parent household -0.113266 -0.295479
26  Car or van availability|4 or more cars or vans...  0.109050 -0.074287
27                Ethnic Group|Other ethnic group (%)  0.093697 -0.081585
28                                  Parking locations -0.091079 -0.257168
29                              Ethnic Group|BAME (%)  0.096317 -0.085173
30      Ethnic Group|Mixed/multiple ethnic groups (%) -0.097996 -0.285168
31           Tenure|Owned with a mortgage or loan (%)  0.093797 -0.089355
32  Public Transport Accessibility Levels|% 2-3 (a... -0.095406 -0.290066
33                                  Leisure locations  0.074094 -0.101067
34                                Education locations  0.068676 -0.106815
35                                Emergency locations  0.055151 -0.114515
36  Public Transport Accessibility Levels|Number o...  0.057821 -0.126399
37  Car or van availability|2 cars or vans in hous... -0.062923 -0.258012
38  Car or van availability|1 car or van in househ... -0.058743 -0.247780
39  Household Composition|% Other multi person hou... -0.037680 -0.215000
40  Public Transport Accessibility Levels|Number o... -0.035309 -0.216530
41    Dwelling type|Flat, maisonette or apartment (%)  0.024350 -0.159494
42                         Public transport locations  0.021419 -0.147718
43                                     Food locations  0.020524 -0.152823
44  Public Transport Accessibility Levels|% 4-6 (g...  0.015940 -0.175486
45                                 Shopping locations -0.013380 -0.197832
46                                        n_neighbors -0.007712 -0.190983

    ci_upper   p_val significant_CI
0  -0.284740  0.0000            Yes
1   0.560201  0.0000            Yes
2   0.681149  0.0000            Yes
3   0.491438  0.0000            Yes
4   0.472695  0.0008            Yes
5   0.468702  0.0016            Yes
6   0.463385  0.0028            Yes
7   0.459582  0.0036            Yes
8   0.429237  0.0052            Yes
9   0.430513  0.0052            Yes
10 -0.075264  0.0052            Yes
11 -0.061935  0.0116            Yes
12 -0.038626  0.0180            Yes
13 -0.030136  0.0212            Yes
14  0.347618  0.0368            Yes
15  0.391256  0.0372            Yes
16 -0.006855  0.0444            Yes
17  0.365685  0.0604             No
18  0.320508  0.1080             No
19  0.046944  0.1488             No
20  0.315728  0.1748             No
21  0.309631  0.1924             No
22  0.302944  0.1928             No
23  0.296879  0.1996             No
24  0.070938  0.2184             No
25  0.070129  0.2236             No
26  0.295530  0.2536             No
27  0.272770  0.2920             No
28  0.077950  0.2920             No
29  0.276978  0.3056             No
30  0.083760  0.3080             No
31  0.273025  0.3248             No
32  0.095790  0.3280             No
33  0.248420  0.4036             No
34  0.241314  0.4332             No
35  0.219841  0.5120             No
36  0.240336  0.5264             No
37  0.127115  0.5268             No
38  0.122605  0.5436             No
39  0.141423  0.6796             No
40  0.148777  0.7040             No
41  0.208032  0.7944             No
42  0.189996  0.8104             No
43  0.200914  0.8288             No
44  0.206598  0.8708             No
45  0.171362  0.8736             No
46  0.172134  0.9472             No  , 'b_dynamic':                                                   col      mean  ci_lower  \
0   Health Deprivation and Disability Rank (where ...  0.326765  0.152302
1           Mid-year Population Estimates|Working-age -0.472234 -0.653116
2            Mid-year Population Estimates|Aged 16-29 -0.334251 -0.525144
3            Mid-year Population Estimates|Aged 30-44  0.540560  0.349952
4              Income Rank (where 1 is most deprived) -0.263492 -0.444073
5              Mid-year Population Estimates|Aged 65+  0.270667  0.092277
6   Index of Multiple Deprivation (IMD) Rank (wher...  0.213759  0.032569
7              Mid-year Population Estimates|All Ages  0.190527  0.011408
8                                 lag_1_x_n_neighbors -0.131099 -0.308250
9                                 lag1_diff_neighbors -0.113263 -0.287537
10  Education, Skills and Training Rank (where 1 i...  0.107919 -0.072029
11         Employment Rank (where 1 is most deprived) -0.068147 -0.257230
12              Crime Rank (where 1 is most deprived) -0.042646 -0.212129
13  Barriers to Housing and Services Rank (where 1... -0.037552 -0.222813
14  Living Environment Rank (where 1 is most depri...  0.036494 -0.142538
15           Mid-year Population Estimates|Aged 45-64 -0.014230 -0.198373
16            Mid-year Population Estimates|Aged 0-15 -0.008710 -0.193780

    ci_upper   p_val significant_CI
0   0.501770  0.0000            Yes
1  -0.285949  0.0000            Yes
2  -0.144900  0.0000            Yes
3   0.728999  0.0000            Yes
4  -0.084986  0.0024            Yes
5   0.450922  0.0032            Yes
6   0.399693  0.0208            Yes
7   0.366114  0.0388            Yes
8   0.048579  0.1524             No
9   0.065633  0.2316             No
10  0.288596  0.2448             No
11  0.120483  0.4740             No
12  0.134016  0.6276             No
13  0.149478  0.6808             No
14  0.221635  0.6980             No
15  0.166633  0.8896             No
16  0.176199  0.9236             No  , 'b_seasonal':              col      mean  ci_lower  ci_upper   p_val significant_CI
0    post_corona  0.109494 -0.069221  0.283991  0.2276             No
1      month_cos  0.065294 -0.113877  0.244833  0.4684             No
2  during_corona -0.057494 -0.251731  0.141803  0.5600             No
3      month_sin -0.012243 -0.177177  0.145658  0.8764             No, 'b_time_tr':       col      mean  ci_lower  ci_upper   p_val significant_CI
0  time_s -0.273074  -0.45466 -0.094707  0.0028            Yes, 'b_temporal':             col      mean  ci_lower  ci_upper   p_val significant_CI
0         lag_1 -0.420409 -0.592962 -0.247624  0.0000            Yes
1   roll_3_mean  0.455748  0.273258  0.637520  0.0000            Yes
2   roll_6_mean -0.429711 -0.604746 -0.260984  0.0000            Yes
3         lag_2 -0.242988 -0.432651 -0.062121  0.0096            Yes
4  roll_12_mean  0.143282 -0.044525  0.330417  0.1368             No
5         lag_3 -0.022635 -0.202282  0.162446  0.8144             No
6         lag_4 -0.014144 -0.195798  0.166617  0.8836             No, 'b_spatial':                      col      mean  ci_lower  ci_upper   p_val significant_CI
0    lag1_diff_neighbors  0.531765  0.351625  0.714144  0.0000            Yes
1    lag_1_x_n_neighbors  0.366942  0.190849  0.541549  0.0004            Yes
2    lag1_mean_neighbors  0.143052 -0.026076  0.312542  0.1012             No
3  lag1_median_neighbors  0.059233 -0.113108  0.227732  0.4864             No
4     lag1_sum_neighbors  0.051998 -0.123164  0.227337  0.5580             No}

In [13]:
from training.training import grid_search
import pandas as pd
inner_train, inner_val = single_out_last(training_data)
param_grid = {
      "lr": [1e-2, 5e-3, 1e-3],
      "guide_type": ["diag", "lowrank"]
      }
results_df = grid_search(
      burglary_model,
      inner_train,
      inner_val,
      *model_tuple[1:],
      device,
      param_grid,
      ward_idx_map=ward_idx_map,
      num_steps=500,
      )
print(results_df)
print("Best parameters:", results_df.loc[0].to_dict())

Training SVI: 100%|██████████| 500/500 [00:23<00:00, 21.16it/s]
Training SVI: 100%|██████████| 500/500 [00:24<00:00, 20.37it/s]
Training SVI: 100%|██████████| 500/500 [00:18<00:00, 27.42it/s]
Training SVI: 100%|██████████| 500/500 [00:24<00:00, 20.45it/s]
Training SVI: 100%|██████████| 500/500 [00:16<00:00, 30.23it/s]
Training SVI: 100%|██████████| 500/500 [00:22<00:00, 22.22it/s]

      lr guide_type      val_loss
0  0.010       diag   9700.565430
1  0.010    lowrank  11198.565430
2  0.005    lowrank  14001.527832
3  0.001       diag  20118.119141
4  0.001    lowrank  22064.511719
5  0.005       diag  62263.409180
Best parameters: {'lr': 0.01, 'guide_type': 'diag', 'val_loss': 9700.5654296875}