In [1]:
import os
import pandas as pd
from tqdm import tqdm
def read_city_of_london_street_csvs(folder_path, file_pattern):
    """
    Reads all CSV files in the given folder whose filenames contain 'city-of-london-street',
    and concatenates them into a single pandas DataFrame.

    Args:
        folder_path (str): Path to the folder containing the CSV files.

    Returns:
        pd.DataFrame: A single concatenated DataFrame containing all matching CSVs' data.
    """
    # List to collect individual DataFrames
    dataframes = []

    for root, _, files in tqdm(os.walk(folder_path), desc="Reading CSV files"):
        for filename in tqdm(files, desc="Processing files", leave=False):
            if file_pattern in filename and filename.endswith(".csv"):
                file_path = os.path.join(root, filename)
                df = pd.read_csv(file_path)
                dataframes.append(df)

    return (
        pd.concat(dataframes, ignore_index=True)
        if dataframes
        else pd.DataFrame()
    )

# Example usage (uncomment to use):
combined_df = read_city_of_london_street_csvs(os.path.join("data", "relevant_data"), "street")

Reading CSV files: 172it [00:37,  4.55it/s]

In [2]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15459591 entries, 0 to 15459590
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Crime ID               object
 1   Month                  object
 2   Reported by            object
 3   Falls within           object
 4   Longitude              float64
 5   Latitude               float64
 6   Location               object
 7   LSOA code              object
 8   LSOA name              object
 9   Crime type             object
 10  Last outcome category  object
 11  Context                float64
dtypes: float64(3), object(9)
memory usage: 1.4+ GB

In [3]:
combined_df = combined_df.query("`Crime type` == 'Burglary'").copy()
combined_df[['year', 'month']] = combined_df['Month'].str.split('-', expand=True)
combined_df['year'] = pd.to_numeric(combined_df['year'], errors='coerce', downcast='integer')
combined_df['month'] = pd.to_numeric(combined_df['month'], errors='coerce', downcast='integer')
combined_df["Latitude"] = pd.to_numeric(combined_df["Latitude"], errors='coerce', downcast='float')
combined_df["Longitude"] = pd.to_numeric(combined_df["Longitude"], errors='coerce', downcast='float')
combined_df["Reported by"] = combined_df["Reported by"].astype("category")
combined_df["Falls within"] = combined_df["Falls within"].astype("category")
combined_df["Location"] = combined_df["Location"].astype("category") #but technically str
combined_df["LSOA code"] = combined_df["LSOA code"].astype("category") #but technically str
combined_df["Last outcome category"] = combined_df["Last outcome category"].astype("category") #but technically str
combined_df["Crime ID"] = combined_df["Crime ID"]
# LSOA code functionally determines the LSOA name
lookup = combined_df[["LSOA code", "LSOA name"]].drop_duplicates().reset_index(drop=True)
combined_df = combined_df.drop(columns=['Month', "LSOA name", "Context", "Crime type"], errors='ignore')

In [4]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026275 entries, 20 to 15459457
Data columns (total 10 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Crime ID               930892 non-null   object
 1   Reported by            1026275 non-null  category
 2   Falls within           1026275 non-null  category
 3   Longitude              1018755 non-null  float32
 4   Latitude               1018755 non-null  float32
 5   Location               1026275 non-null  category
 6   LSOA code              1018755 non-null  category
 7   Last outcome category  905864 non-null   category
 8   year                   1026275 non-null  int16
 9   month                  1026275 non-null  int8
dtypes: category(5), float32(2), int16(1), int8(1), object(1)
memory usage: 36.7+ MB

In [5]:
combined_df.isna().sum().sort_values() / len(combined_df) * 100

Reported by               0.000000
Falls within              0.000000
Location                  0.000000
year                      0.000000
month                     0.000000
Latitude                  0.732747
LSOA code                 0.732747
Longitude                 0.732747
Crime ID                  9.294098
Last outcome category    11.732820
dtype: float64

In [6]:
combined_df.to_parquet(
    os.path.join("processed_data", "street.parquet"),
    index=False,
    engine="pyarrow"
)

# Outcomes

In [7]:
outcomes = read_city_of_london_street_csvs(os.path.join("data", "relevant_data"), "outcomes")

Reading CSV files: 172it [00:25,  6.68it/s]

In [8]:
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8907819 entries, 0 to 8907818
Data columns (total 10 columns):
 #   Column        Dtype
---  ------        -----
 0   Crime ID      object
 1   Month         object
 2   Reported by   object
 3   Falls within  object
 4   Longitude     float64
 5   Latitude      float64
 6   Location      object
 7   LSOA code     object
 8   LSOA name     object
 9   Outcome type  object
dtypes: float64(2), object(8)
memory usage: 679.6+ MB

In [9]:
# combined_df = combined_df.query("`Crime type` == 'Burglary'").copy()
outcomes = outcomes[outcomes["Crime ID"].isin(combined_df["Crime ID"].unique())].copy()
outcomes[['year', 'month']] = outcomes['Month'].str.split('-', expand=True)
outcomes['year'] = pd.to_numeric(outcomes['year'], errors='coerce', downcast='integer')
outcomes['month'] = pd.to_numeric(outcomes['month'], errors='coerce', downcast='integer')
outcomes["Latitude"] = pd.to_numeric(outcomes["Latitude"], errors='coerce', downcast='float')
outcomes["Longitude"] = pd.to_numeric(outcomes["Longitude"], errors='coerce', downcast='float')
outcomes["Reported by"] = outcomes["Reported by"].astype("category")
outcomes["Falls within"] = outcomes["Falls within"].astype("category")
outcomes["Location"] = outcomes["Location"].astype("category") #but technically str
outcomes["LSOA code"] = outcomes["LSOA code"].astype("category") #but technically str
outcomes["Outcome type"] = outcomes["Outcome type"].astype("category") #but technically str
# LSOA code functionally determines the LSOA name
# lookup = outcomes[["LSOA code", "LSOA name"]].drop_duplicates().reset_index(drop=True)
outcomes = outcomes.drop(columns=['Month', "LSOA name"], errors='ignore')

In [10]:
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 691586 entries, 39 to 8907811
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Crime ID      691586 non-null  object
 1   Reported by   691586 non-null  category
 2   Falls within  691586 non-null  category
 3   Longitude     684596 non-null  float32
 4   Latitude      684596 non-null  float32
 5   Location      691586 non-null  category
 6   LSOA code     684596 non-null  category
 7   Outcome type  691586 non-null  category
 8   year          691586 non-null  int16
 9   month         691586 non-null  int8
dtypes: category(5), float32(2), int16(1), int8(1), object(1)
memory usage: 26.4+ MB

In [11]:
outcomes.isna().sum().sort_values() / len(outcomes) * 100

Crime ID        0.00000
Reported by     0.00000
Falls within    0.00000
Location        0.00000
Outcome type    0.00000
year            0.00000
month           0.00000
Longitude       1.01072
LSOA code       1.01072
Latitude        1.01072
dtype: float64

In [12]:
outcomes.to_parquet(
    os.path.join("processed_data", "outcomes.parquet"),
    index=False,
    engine="pyarrow"
)

# Search

In [13]:
search = read_city_of_london_street_csvs(os.path.join("data", "relevant_data"), "stop-and-search")

Reading CSV files: 172it [00:11, 14.43it/s]

In [14]:
search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1750430 entries, 0 to 1750429
Data columns (total 15 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   Type                                      object
 1   Date                                      object
 2   Part of a policing operation              object
 3   Policing operation                        float64
 4   Latitude                                  float64
 5   Longitude                                 float64
 6   Gender                                    object
 7   Age range                                 object
 8   Self-defined ethnicity                    object
 9   Officer-defined ethnicity                 object
 10  Legislation                               object
 11  Object of search                          object
 12  Outcome                                   object
 13  Outcome linked to object of search        object
 14  Removal of more than just outer clothing  object
dtypes: float64(3), object(12)
memory usage: 200.3+ MB

In [15]:
search["Type"] = search["Type"].astype("category")
search["Date"] = pd.to_datetime(search["Date"], errors='coerce')
search["Latitude"] = pd.to_numeric(search["Latitude"], errors='coerce', downcast='float')
search["Longitude"] = pd.to_numeric(search["Longitude"], errors='coerce', downcast='float')
search["Gender"] = search["Gender"].astype("category")
search["Age range"] = search["Age range"].astype("category")
search["Self-defined ethnicity"] = search["Self-defined ethnicity"].astype("category")
search["Officer-defined ethnicity"] = search["Officer-defined ethnicity"].astype("category")
search["Legislation"] = search["Legislation"].astype("category")
search["Object of search"] = search["Object of search"].astype("category")
search["Outcome"] = search["Outcome"].astype("category")
search["Outcome linked to object of search"] = search["Outcome linked to object of search"].astype("bool")
search["Removal of more than just outer clothing"] = search["Removal of more than just outer clothing"].astype("bool")
search["Person search"] = search["Type"].str.contains("Person", na=False).astype("bool")
search["Vehicle search"] = search["Type"].str.contains("Vehicle", na=False).astype("bool")
search["Part of a policing operation"] = search["Policing operation"].astype("bool")
search = search.drop(columns=["Policing operation", "Type",], errors='ignore')

In [16]:
search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1750430 entries, 0 to 1750429
Data columns (total 15 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   Date                                      datetime64[ns, UTC]
 1   Part of a policing operation              bool
 2   Latitude                                  float32
 3   Longitude                                 float32
 4   Gender                                    category
 5   Age range                                 category
 6   Self-defined ethnicity                    category
 7   Officer-defined ethnicity                 category
 8   Legislation                               category
 9   Object of search                          category
 10  Outcome                                   category
 11  Outcome linked to object of search        bool
 12  Removal of more than just outer clothing  bool
 13  Person search                             bool
 14  Vehicle search                            bool
dtypes: bool(5), category(7), datetime64[ns, UTC](1), float32(2)
memory usage: 46.7 MB

In [17]:
search.isna().sum().sort_values() / len(search) * 100

Date                                         0.000000
Part of a policing operation                 0.000000
Vehicle search                               0.000000
Outcome linked to object of search           0.000000
Removal of more than just outer clothing     0.000000
Person search                                0.000000
Legislation                                  0.009083
Outcome                                      0.015482
Gender                                       1.162686
Self-defined ethnicity                       1.254263
Officer-defined ethnicity                    2.020018
Object of search                             5.141308
Age range                                   11.527910
Longitude                                   20.499306
Latitude                                    20.499306
dtype: float64

In [18]:
search.to_parquet(
    os.path.join("processed_data", "search.parquet"),
    index=False,
    engine="pyarrow"
)

# TO database

In [19]:
# import pandas as pd
# from sqlalchemy import create_engine, text
# from tqdm.notebook import tqdm

# def insert_crimes_bulk(crimes_df, engine, batch_size=10_000):
#     """
#     Bulk insert the crimes DataFrame into PostgreSQL using batch inserts.
#     Handles GEOGRAPHY(POINT, 4326).
#     """

#     insert_query = """
#         INSERT INTO crimes (crime_id, reported_by, falls_within, point_location, location, lsoa_code, last_outcome_category, year, month)
#         VALUES (
#             :crime_id, :reported_by, :falls_within,
#             ST_SetSRID(ST_MakePoint(:longitude, :latitude), 4326),
#             :location, :lsoa_code, :last_outcome_category, :year, :month
#         )
#     """

#     # Prepare list of rows
#     rows = []
#     rows.extend(
#         {
#             "crime_id": row['Crime ID'],
#             "reported_by": row['Reported by'],
#             "falls_within": row['Falls within'],
#             "longitude": float(row['Longitude']),
#             "latitude": float(row['Latitude']),
#             "location": row['Location'],
#             "lsoa_code": row['LSOA code'],
#             "last_outcome_category": row['Last outcome category'],
#             "year": int(row['year']),
#             "month": int(row['month']),
#         }
#         for idx, row in tqdm(
#             crimes_df.iterrows(),
#             total=crimes_df.shape[0],
#             desc="Inserting rows",
#         )
#         if pd.notnull(row['Longitude']) and pd.notnull(row['Latitude'])
#     )
#     # Bulk insert in batches
#     with engine.begin() as conn:
#         for i in tqdm(range(0, len(rows), batch_size), desc="Inserting batches"):
#             batch = rows[i:i+batch_size]
#             conn.execute(text(insert_query), batch)

#     print(f"✅ Inserted {len(rows)} rows successfully!")


# def insert_outcomes_bulk(outcomes_df, engine, batch_size=10_000):
#     """
#     Bulk insert the outcomes DataFrame into PostgreSQL using batch inserts.
#     Handles GEOGRAPHY(POINT, 4326) properly.
#     """

#     insert_query = """
#         INSERT INTO outcomes (crime_id, reported_by, falls_within, point_location, location, lsoa_code, outcome_type, year, month)
#         VALUES (
#             :crime_id, :reported_by, :falls_within,
#             ST_SetSRID(ST_MakePoint(:longitude, :latitude), 4326),
#             :location, :lsoa_code, :outcome_type, :year, :month
#         )
#     """

#     # Prepare list of rows
#     rows = []
#     rows.extend(
#         {
#             "crime_id": row['Crime ID'],
#             "reported_by": row['Reported by'],
#             "falls_within": row['Falls within'],
#             "longitude": float(row['Longitude']),
#             "latitude": float(row['Latitude']),
#             "location": row['Location'],
#             "lsoa_code": row['LSOA code'],
#             "outcome_type": row['Outcome type'],
#             "year": int(row['year']),
#             "month": int(row['month']),
#         }
#         for idx, row in tqdm(
#             outcomes_df.iterrows(),
#             total=outcomes_df.shape[0],
#             desc="Inserting outcomes rows",
#         )
#         if pd.notnull(row['Longitude']) and pd.notnull(row['Latitude'])
#     )

#     # Bulk insert in batches
#     with engine.begin() as conn:
#         for i in tqdm(range(0, len(rows), batch_size), desc="Inserting outcomes batches"):
#             batch = rows[i:i+batch_size]
#             conn.execute(text(insert_query), batch)

#     print(f"✅ Inserted {len(rows)} outcomes successfully!")


# def insert_stop_search_bulk(stop_search_df, engine, batch_size=10_000):
#     """
#     Bulk insert the stop and search DataFrame into PostgreSQL using batch inserts.
#     Handles GEOGRAPHY(POINT, 4326) properly.
#     """

#     insert_query = """
#         INSERT INTO stop_search (
#             date, part_of_policing_operation, point_location,
#             person_search, vehicle_search, gender, age_range,
#             self_defined_ethnicity, officer_defined_ethnicity,
#             legislation, object_of_search, outcome,
#             outcome_linked_to_object_of_search, removal_of_more_than_outer_clothing
#         )
#         VALUES (
#             :date, :part_of_policing_operation, ST_SetSRID(ST_MakePoint(:longitude, :latitude), 4326),
#             :person_search, :vehicle_search, :gender, :age_range,
#             :self_defined_ethnicity, :officer_defined_ethnicity,
#             :legislation, :object_of_search, :outcome,
#             :outcome_linked_to_object_of_search, :removal_of_more_than_outer_clothing
#         )
#     """

#     # Prepare list of rows
#     rows = []
#     rows.extend(
#         {
#             "date": row['Date'],
#             "part_of_policing_operation": bool(row['Part of a policing operation']) if pd.notnull(row['Part of a policing operation']) else None,
#             "longitude": float(row['Longitude']),
#             "latitude": float(row['Latitude']),
#             "person_search": bool(row['Person search']) if 'Person search' in row else None,
#             "vehicle_search": bool(row['Vehicle search']) if 'Vehicle search' in row else None,
#             "gender": row['Gender'],
#             "age_range": row['Age range'],
#             "self_defined_ethnicity": row['Self-defined ethnicity'],
#             "officer_defined_ethnicity": row['Officer-defined ethnicity'],
#             "legislation": row['Legislation'],
#             "object_of_search": row['Object of search'],
#             "outcome": row['Outcome'],
#             "outcome_linked_to_object_of_search": bool(row['Outcome linked to object of search']) if pd.notnull(row['Outcome linked to object of search']) else None,
#             "removal_of_more_than_outer_clothing": row['Removal of more than just outer clothing'],
#         }
#         for idx, row in tqdm(
#             stop_search_df.iterrows(),
#             total=stop_search_df.shape[0],
#             desc="Inserting stop_search rows",
#         )
#         if pd.notnull(row['Longitude']) and pd.notnull(row['Latitude'])
#     )

#     # Bulk insert in batches
#     with engine.begin() as conn:
#         for i in tqdm(range(0, len(rows), batch_size), desc="Inserting stop_search batches"):
#             batch = rows[i:i+batch_size]
#             conn.execute(text(insert_query), batch)

#     print(f"✅ Inserted {len(rows)} stop_search records successfully!")



# def create_postgres_database_from_dataframes(crimes_df, outcomes_df, stop_search_df, db_url="postgresql://postgres:aboba123@localhost:5432/police_data4"):
#     """
#     Creates a PostgreSQL database with three tables from given DataFrames.
#     Adds auto-incremented primary keys to each table, uses ENUM types, GEOGRAPHY points.
#     """

#     engine = create_engine(db_url)

#     with engine.begin() as conn:
#         # Enable PostGIS extension
#         conn.execute(text("CREATE EXTENSION IF NOT EXISTS postgis;"))
#         for index, value in enumerate([combined_df["Reported by"],
#                                        combined_df["Falls within"],
#                                        combined_df["Last outcome category"],
#                                        outcomes["Reported by"],
#                                        outcomes["Falls within"],
#                                        outcomes["Outcome type"],
#                                        search["Gender"],
#                                        search["Age range"],
#                                        search["Officer-defined ethnicity"],
#                                        search["Legislation"],
#                                        search["Object of search"],
#                                        search["Outcome"]]):
#             conn.execute(text(f"DROP TYPE IF EXISTS enum_type_{index} CASCADE;"))
#             conn.execute(text(f"""CREATE TYPE enum_type_{index} AS ENUM ({', '.join(f"'{cat}'" for cat in value.cat.categories.tolist())});"""))
#         conn.execute(text("""
#         CREATE TABLE IF NOT EXISTS crimes (
#             id SERIAL PRIMARY KEY,
#             crime_id CHAR(64),
#             reported_by enum_type_0,
#             falls_within enum_type_1,
#             point_location GEOGRAPHY(POINT, 4326),
#             location VARCHAR,
#             lsoa_code CHAR(9),
#             last_outcome_category enum_type_2,
#             year SMALLINT,
#             month SmallInt
#         );
#         """))

#         # Create Outcomes table
#         conn.execute(text("""
#         CREATE TABLE IF NOT EXISTS outcomes (
#             id SERIAL PRIMARY KEY,
#             crime_id CHAR(64),
#             reported_by enum_type_3,
#             falls_within enum_type_4,
#             point_location GEOGRAPHY(POINT, 4326),
#             location VARCHAR,
#             lsoa_code CHAR(9),
#             outcome_type enum_type_5,
#             year SMALLINT,
#             month SMALLINT
#         );
#         """))

#         # Create Stop and Search table
#         conn.execute(text("""
#         CREATE TABLE IF NOT EXISTS stop_search (
#             id SERIAL PRIMARY KEY,
#             date TIMESTAMP,
#             part_of_policing_operation BOOLEAN,
#             point_location GEOGRAPHY(POINT, 4326),
#             person_search BOOLEAN,
#             vehicle_search BOOLEAN,
#             gender enum_type_6,
#             age_range enum_type_7,
#             self_defined_ethnicity VARCHAR,
#             officer_defined_ethnicity enum_type_8,
#             legislation enum_type_9,
#             object_of_search enum_type_10,
#             outcome enum_type_11,
#             outcome_linked_to_object_of_search BOOLEAN,
#             removal_of_more_than_outer_clothing TEXT
#         );
#         """))
#     print("✅ Database schema created successfully!")
#     insert_crimes_bulk(crimes_df, engine)
#     insert_outcomes_bulk(outcomes_df, engine)
#     insert_stop_search_bulk(stop_search_df, engine)


# create_postgres_database_from_dataframes(combined_df, outcomes, search)

In [20]:
# import geopandas as gpd
# from sqlalchemy import create_engine

# # Create your engine
# engine = create_engine("postgresql://postgres:aboba123@localhost:5432/police_data3")

# # Now read the crimes table
# gdf = gpd.read_postgis(
#     sql="SELECT * FROM outcomes;",
#     con=engine,
#     geom_col="point_location"  # <- tell GeoPandas the name of your GEOGRAPHY column
# )

# gdf.head()

In [21]:
# combined_df.head()

In [22]:
# gdf.info()

In [23]:
import pandas as pd
import os

dataframe = pd.read_parquet(os.path.join("processed_data", "street.parquet"))
search = pd.read_parquet(os.path.join("processed_data", "search.parquet"))

In [24]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026275 entries, 0 to 1026274
Data columns (total 10 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Crime ID               930892 non-null   object
 1   Reported by            1026275 non-null  category
 2   Falls within           1026275 non-null  category
 3   Longitude              1018755 non-null  float32
 4   Latitude               1018755 non-null  float32
 5   Location               1026275 non-null  category
 6   LSOA code              1018755 non-null  category
 7   Last outcome category  905864 non-null   category
 8   year                   1026275 non-null  int16
 9   month                  1026275 non-null  int8
dtypes: category(5), float32(2), int16(1), int8(1), object(1)
memory usage: 28.9+ MB

In [25]:
search["Part of a policing operation"].value_counts()

Part of a policing operation
True    1750430
Name: count, dtype: int64

In [26]:
search["Gender"].value_counts()

Gender
Male      1593727
Female     126233
Other       10118
Name: count, dtype: int64