In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

# List of all of the data the model is going to use
lsoa_data = pd.read_parquet("./processed_data/lsoa_data.parquet")
lsoa_data2 = pd.read_parquet("./processed_data/lsoa_data2.parquet")
deprivation_2015 = pd.read_parquet("./processed_data/filtered_deprivation_2015.parquet")
deprivation_2019 = pd.read_parquet("./processed_data/deprivation_index.parquet")
street = gpd.read_parquet("./processed_data/street.parquet")
outcomes = gpd.read_parquet("./processed_data/outcomes.parquet")
busy = pd.read_parquet("./processed_data/busy_with_lsoa.parquet")

In [10]:
# use the deprivation 2015 as a base file

merge_df = deprivation_2015
merge_df

,LSOA code (2011),LSOA name (2011),Local Authority District code (2013),Local Authority District name (2013),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),Employment Rank (where 1 is most deprived),Employment Decile (where 1 is most deprived 10% of LSOAs),"Education, Skills and Training Rank (where 1 is most deprived)","Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)",Health Deprivation and Disability Rank (where 1 is most deprived),Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs),Crime Rank (where 1 is most deprived),Crime Decile (where 1 is most deprived 10% of LSOAs),Barriers to Housing and Services Rank (where 1 is most deprived),Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs),Living Environment Rank (where 1 is most deprived),Living Environment Decile (where 1 is most deprived 10% of LSOAs)
0,E01000027,Barking and Dagenham 001A,E09000002,Barking and Dagenham,3.924,2,3.530,2,6.518,2,3.828,2,8.060,3,1.592,1,3.054,1,16.620,6
1,E01000028,Barking and Dagenham 001B,E09000002,Barking and Dagenham,3.617,2,2.540,1,4.211,2,9.352,3,1.744,1,12.893,4,2.512,1,20.318,7
2,E01000029,Barking and Dagenham 001C,E09000002,Barking and Dagenham,9.890,4,13.523,5,14.189,5,14.483,5,14.024,5,2.282,1,1.717,1,15.264,5
3,E01000030,Barking and Dagenham 001D,E09000002,Barking and Dagenham,4.130,2,2.853,1,6.305,2,5.743,2,10.294,4,4.184,2,1.427,1,13.365,5
4,E01000031,Barking and Dagenham 002A,E09000002,Barking and Dagenham,10.820,4,13.154,5,12.500,4,19.106,6,16.658,6,889.000,1,9.476,3,10.770,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004669,Westminster 024B,E09000033,Westminster,4.405,2,3.565,2,5.758,2,14.341,5,7.619,3,11.296,4,912.000,1,3.347,2
4831,E01004737,Westminster 024C,E09000033,Westminster,13.031,4,11.504,4,13.939,5,23.213,8,18.436,6,14.224,5,5.747,2,5.408,2
4832,E01004738,Westminster 024D,E09000033,Westminster,18.644,6,26.307,9,29.450,9,32.625,10,28.335,9,8.308,3,7.747,3,847.000,1
4833,E01004739,Westminster 024E,E09000033,Westminster,21.239,7,25.331,8,30.324,10,32.348,10,22.225,7,25.616,8,5.927,2,2.185,1
4834,E01004741,Westminster 024F,E09000033,Westminster,9.189,3,10.508,4,14.545,5,24.002,8,14.645,5,7.640,3,3.265,1,881.000,1

In [11]:
merge_df = merge_df.drop(columns=['Local Authority District code (2013)', 'LSOA name (2011)', 'Local Authority District name (2013)'])
merge_df = merge_df.drop(columns=['Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Income Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Employment Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Crime Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Living Environment Decile (where 1 is most deprived 10% of LSOAs)'])

merge_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived)
0,E01000027,3.924,3.530,6.518,3.828,8.060,1.592,3.054,16.620
1,E01000028,3.617,2.540,4.211,9.352,1.744,12.893,2.512,20.318
2,E01000029,9.890,13.523,14.189,14.483,14.024,2.282,1.717,15.264
3,E01000030,4.130,2.853,6.305,5.743,10.294,4.184,1.427,13.365
4,E01000031,10.820,13.154,12.500,19.106,16.658,889.000,9.476,10.770
...,...,...,...,...,...,...,...,...,...
4830,E01004669,4.405,3.565,5.758,14.341,7.619,11.296,912.000,3.347
4831,E01004737,13.031,11.504,13.939,23.213,18.436,14.224,5.747,5.408
4832,E01004738,18.644,26.307,29.450,32.625,28.335,8.308,7.747,847.000
4833,E01004739,21.239,25.331,30.324,32.348,22.225,25.616,5.927,2.185
4834,E01004741,9.189,10.508,14.545,24.002,14.645,7.640,3.265,881.000

In [16]:
merge_df['date'] = '01-2015'
merge_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date
0,E01000027,3.924,3.530,6.518,3.828,8.060,1.592,3.054,16.620,01-2015
1,E01000028,3.617,2.540,4.211,9.352,1.744,12.893,2.512,20.318,01-2015
2,E01000029,9.890,13.523,14.189,14.483,14.024,2.282,1.717,15.264,01-2015
3,E01000030,4.130,2.853,6.305,5.743,10.294,4.184,1.427,13.365,01-2015
4,E01000031,10.820,13.154,12.500,19.106,16.658,889.000,9.476,10.770,01-2015
...,...,...,...,...,...,...,...,...,...,...
4830,E01004669,4.405,3.565,5.758,14.341,7.619,11.296,912.000,3.347,01-2015
4831,E01004737,13.031,11.504,13.939,23.213,18.436,14.224,5.747,5.408,01-2015
4832,E01004738,18.644,26.307,29.450,32.625,28.335,8.308,7.747,847.000,01-2015
4833,E01004739,21.239,25.331,30.324,32.348,22.225,25.616,5.927,2.185,01-2015
4834,E01004741,9.189,10.508,14.545,24.002,14.645,7.640,3.265,881.000,01-2015

In [17]:
# Add same data until and not including 01-2021