In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

# List of all of the data the model is going to use
lsoa_data = pd.read_parquet("./processed_data/lsoa_data.parquet")
lsoa_data2 = pd.read_parquet("./processed_data/lsoa_data2.parquet")
deprivation_2015 = pd.read_parquet("./processed_data/filtered_deprivation_2015.parquet") # done
deprivation_2019 = pd.read_parquet("./processed_data/deprivation_index_2019.parquet") # done
street = gpd.read_parquet("./processed_data/street.parquet") # done
busy = pd.read_parquet("./processed_data/busy_with_lsoa.parquet") # done

In [42]:
# use the deprivation 2015 as a base file

merge_df = deprivation_2015
merge_df

,LSOA code (2011),LSOA name (2011),Local Authority District code (2013),Local Authority District name (2013),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),Employment Rank (where 1 is most deprived),Employment Decile (where 1 is most deprived 10% of LSOAs),"Education, Skills and Training Rank (where 1 is most deprived)","Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)",Health Deprivation and Disability Rank (where 1 is most deprived),Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs),Crime Rank (where 1 is most deprived),Crime Decile (where 1 is most deprived 10% of LSOAs),Barriers to Housing and Services Rank (where 1 is most deprived),Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs),Living Environment Rank (where 1 is most deprived),Living Environment Decile (where 1 is most deprived 10% of LSOAs)
0,E01000027,Barking and Dagenham 001A,E09000002,Barking and Dagenham,3.924,2,3.530,2,6.518,2,3.828,2,8.060,3,1.592,1,3.054,1,16.620,6
1,E01000028,Barking and Dagenham 001B,E09000002,Barking and Dagenham,3.617,2,2.540,1,4.211,2,9.352,3,1.744,1,12.893,4,2.512,1,20.318,7
2,E01000029,Barking and Dagenham 001C,E09000002,Barking and Dagenham,9.890,4,13.523,5,14.189,5,14.483,5,14.024,5,2.282,1,1.717,1,15.264,5
3,E01000030,Barking and Dagenham 001D,E09000002,Barking and Dagenham,4.130,2,2.853,1,6.305,2,5.743,2,10.294,4,4.184,2,1.427,1,13.365,5
4,E01000031,Barking and Dagenham 002A,E09000002,Barking and Dagenham,10.820,4,13.154,5,12.500,4,19.106,6,16.658,6,889.000,1,9.476,3,10.770,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004669,Westminster 024B,E09000033,Westminster,4.405,2,3.565,2,5.758,2,14.341,5,7.619,3,11.296,4,912.000,1,3.347,2
4831,E01004737,Westminster 024C,E09000033,Westminster,13.031,4,11.504,4,13.939,5,23.213,8,18.436,6,14.224,5,5.747,2,5.408,2
4832,E01004738,Westminster 024D,E09000033,Westminster,18.644,6,26.307,9,29.450,9,32.625,10,28.335,9,8.308,3,7.747,3,847.000,1
4833,E01004739,Westminster 024E,E09000033,Westminster,21.239,7,25.331,8,30.324,10,32.348,10,22.225,7,25.616,8,5.927,2,2.185,1
4834,E01004741,Westminster 024F,E09000033,Westminster,9.189,3,10.508,4,14.545,5,24.002,8,14.645,5,7.640,3,3.265,1,881.000,1

In [43]:
merge_df = merge_df.drop(columns=['Local Authority District code (2013)', 'LSOA name (2011)', 'Local Authority District name (2013)'])
merge_df = merge_df.drop(columns=['Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Income Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Employment Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Crime Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs)'])
merge_df = merge_df.drop(columns=['Living Environment Decile (where 1 is most deprived 10% of LSOAs)'])

merge_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived)
0,E01000027,3.924,3.530,6.518,3.828,8.060,1.592,3.054,16.620
1,E01000028,3.617,2.540,4.211,9.352,1.744,12.893,2.512,20.318
2,E01000029,9.890,13.523,14.189,14.483,14.024,2.282,1.717,15.264
3,E01000030,4.130,2.853,6.305,5.743,10.294,4.184,1.427,13.365
4,E01000031,10.820,13.154,12.500,19.106,16.658,889.000,9.476,10.770
...,...,...,...,...,...,...,...,...,...
4830,E01004669,4.405,3.565,5.758,14.341,7.619,11.296,912.000,3.347
4831,E01004737,13.031,11.504,13.939,23.213,18.436,14.224,5.747,5.408
4832,E01004738,18.644,26.307,29.450,32.625,28.335,8.308,7.747,847.000
4833,E01004739,21.239,25.331,30.324,32.348,22.225,25.616,5.927,2.185
4834,E01004741,9.189,10.508,14.545,24.002,14.645,7.640,3.265,881.000

In [44]:
if not 'date' in merge_df.columns:
    # Add same data until and not including 01-2021
    merge_df['date'] = '01-2015'
    merge_df['date'] = pd.to_datetime(merge_df['date'], format='%m-%Y')

    
    start_date = merge_df['date'].min()
    end_date = pd.to_datetime('01-2019', format='%m-%Y')
    
    all_months = pd.date_range(start=start_date, end=end_date, freq='MS', inclusive='left')
    
    extended_dfs = []
    
    for month in all_months:
        temp_df = merge_df.copy()
        temp_df['date'] = month
        extended_dfs.append(temp_df)
    
    merge_df = pd.concat(extended_dfs, ignore_index=True)

merge_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date
0,E01000027,3.924,3.530,6.518,3.828,8.060,1.592,3.054,16.620,2015-01-01
1,E01000028,3.617,2.540,4.211,9.352,1.744,12.893,2.512,20.318,2015-01-01
2,E01000029,9.890,13.523,14.189,14.483,14.024,2.282,1.717,15.264,2015-01-01
3,E01000030,4.130,2.853,6.305,5.743,10.294,4.184,1.427,13.365,2015-01-01
4,E01000031,10.820,13.154,12.500,19.106,16.658,889.000,9.476,10.770,2015-01-01
...,...,...,...,...,...,...,...,...,...,...
232075,E01004669,4.405,3.565,5.758,14.341,7.619,11.296,912.000,3.347,2018-12-01
232076,E01004737,13.031,11.504,13.939,23.213,18.436,14.224,5.747,5.408,2018-12-01
232077,E01004738,18.644,26.307,29.450,32.625,28.335,8.308,7.747,847.000,2018-12-01
232078,E01004739,21.239,25.331,30.324,32.348,22.225,25.616,5.927,2.185,2018-12-01
232079,E01004741,9.189,10.508,14.545,24.002,14.645,7.640,3.265,881.000,2018-12-01

In [45]:
# Only keep the rows relevant to London

# Get the unique Lsoa codes from merge_df
lsoa_codes_to_keep = merge_df['LSOA code (2011)'].unique()

deprivation_2019_filtered = deprivation_2019[deprivation_2019['lsoa code'].isin(lsoa_codes_to_keep)]
deprivation_2019_filtered = deprivation_2019_filtered.reset_index().drop(columns='index')

deprivation_2019_filtered

,lsoa code,lsoa name,lsoa name (full),st_areasha,st_lengths,IMD_Rank,IMD_Decile,LSOA01NM,LADcd,LADnm,...,IndRank,IndDec,OutScore,OutRank,OutDec,TotPop,DepChi,Pop16_59,Pop60+,WorkPop
0,E01000001,City of London 001A,City of London 001A,"133320,76","2291,84","29199,00","9,00",City of London 001A,E09000001,City of London,...,"16364,00","5,00","1,50","1615,00","1,00","1296,00","175,00","656,00","465,00","715,00"
1,E01000002,City of London 001B,City of London 001B,"226191,27","2433,96","30379,00","10,00",City of London 001B,E09000001,City of London,...,"22676,00","7,00","1,19","2969,00","1,00","1156,00","182,00","580,00","394,00","619,75"
2,E01000003,City of London 001C,City of London 001C,"57302,96","1142,35","14915,00","5,00",City of London 001C,E09000001,City of London,...,"17318,00","6,00","2,20","162,00","1,00","1350,00","146,00","759,00","445,00","804,00"
3,E01000005,City of London 001E,City of London 001E,"190738,76","2167,86","8678,00","3,00",City of London 001E,E09000001,City of London,...,"25218,00","8,00","1,76","849,00","1,00","1121,00","229,00","692,00","200,00","683,00"
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,"144195,84","1935,51","14486,00","5,00",Barking and Dagenham 016A,E09000002,Barking and Dagenham,...,"14745,00","5,00","0,96","4368,00","2,00","2040,00","522,00","1297,00","221,00","1284,50"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01033742,Greenwich 007F,Greenwich 007F,"123309,18","1860,31","20945,00","7,00",Greenwich 007F,E09000011,Greenwich,...,"31989,00","10,00","0,70","6423,00","2,00","1701,00","323,00","1219,00","159,00","1210,00"
4831,E01033743,Greenwich 002H,Greenwich 002H,"1004853,08","5237,18","13578,00","5,00",Greenwich 002H,E09000011,Greenwich,...,"30238,00","10,00","0,55","7843,00","3,00","2426,00","766,00","1519,00","141,00","1471,25"
4832,E01033744,Greenwich 007G,Greenwich 007G,"152261,99","2149,37","8319,00","3,00",Greenwich 007G,E09000011,Greenwich,...,"28696,00","9,00","0,70","6408,00","2,00","1900,00","501,00","1224,00","175,00","1210,00"
4833,E01033745,Greenwich 002I,Greenwich 002I,"558477,70","4193,82","12697,00","4,00",Greenwich 002I,E09000011,Greenwich,...,"31779,00","10,00","0,91","4699,00","2,00","1954,00","631,00","1195,00","128,00","1182,75"
4834,E01033746,Greenwich 038E,Greenwich 038E,"128976,68","2367,40","12902,00","4,00",Greenwich 038E,E09000011,Greenwich,...,"5303,00","2,00","1,29","2450,00","1,00","1394,00","196,00","851,00","347,00","874,00"

In [46]:
# Prepare to merge
deprivation_2019_filtered = deprivation_2019_filtered.drop(columns=['lsoa name', 'lsoa name (full)', 'st_areasha', 'st_lengths'])
deprivation_2019_filtered = deprivation_2019_filtered.drop(columns=['LSOA01NM', 'LADcd', 'LADnm'])
deprivation_2019_filtered = deprivation_2019_filtered.drop(columns=['WorkPop', 'Pop60+', 'Pop16_59'])
deprivation_2019_filtered = deprivation_2019_filtered.drop(columns=['DepChi', 'TotPop', 'IMDRank0'])
deprivation_2019_filtered = deprivation_2019_filtered.drop(columns=['IDCRank', 'IDORank', 'CYPRank'])
deprivation_2019_filtered = deprivation_2019_filtered.drop(columns=['ASRank', 'GBRank', 'WBRank'])
deprivation_2019_filtered = deprivation_2019_filtered.drop(columns=['IndRank', 'OutRank'])

columns_to_drop = [col for col in deprivation_2019_filtered.columns if 'Dec' in col]
deprivation_2019_filtered = deprivation_2019_filtered.drop(columns=columns_to_drop)

columns_to_drop = [col for col in deprivation_2019_filtered.columns if 'Score' in col]
deprivation_2019_filtered = deprivation_2019_filtered.drop(columns=columns_to_drop)

deprivation_2019_filtered = deprivation_2019_filtered.rename(columns={'lsoa code': 'LSOA code (2011)'})
deprivation_2019_filtered = deprivation_2019_filtered.rename(columns={'IMD_Rank': 'Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)'})
deprivation_2019_filtered = deprivation_2019_filtered.rename(columns={'IncRank': 'Income Rank (where 1 is most deprived)'})
deprivation_2019_filtered = deprivation_2019_filtered.rename(columns={'EmpRank': 'Employment Rank (where 1 is most deprived)'})
deprivation_2019_filtered = deprivation_2019_filtered.rename(columns={'EduRank': 'Education, Skills and Training Rank (where 1 is most deprived)'})
deprivation_2019_filtered = deprivation_2019_filtered.rename(columns={'HDDRank': 'Health Deprivation and Disability Rank (where 1 is most deprived)'})
deprivation_2019_filtered = deprivation_2019_filtered.rename(columns={'CriRank': 'Crime Rank (where 1 is most deprived)'})
deprivation_2019_filtered = deprivation_2019_filtered.rename(columns={'BHSRank': 'Barriers to Housing and Services Rank (where 1 is most deprived)'})
deprivation_2019_filtered = deprivation_2019_filtered.rename(columns={'EnvRank': 'Living Environment Rank (where 1 is most deprived)'})
deprivation_2019_filtered['date'] = '01-2019'
deprivation_2019_filtered['date'] = pd.to_datetime(deprivation_2019_filtered['date'], format='%m-%Y')

for col in deprivation_2019_filtered.columns:
    if 'Rank' in col:
        deprivation_2019_filtered[col] = deprivation_2019_filtered[col].astype(str).str.replace(',00', '', regex=False)
        
deprivation_2019_filtered

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date
0,E01000001,29199,32831,32742,32842,32113,32662,7319,7789,2019-01-01
1,E01000002,30379,29901,31190,32832,29705,32789,11707,13070,2019-01-01
2,E01000003,14915,18510,15103,26386,17600,29363,2157,4092,2019-01-01
3,E01000005,8678,6029,7833,12370,17907,31059,2217,9397,2019-01-01
4,E01000006,14486,14023,21692,17511,21581,18848,1033,10629,2019-01-01
...,...,...,...,...,...,...,...,...,...,...
4830,E01033742,20945,19844,27920,24139,22041,19491,2042,21492,2019-01-01
4831,E01033743,13578,12244,21210,22640,19077,13267,286,22054,2019-01-01
4832,E01033744,8319,7767,9762,15227,5225,10943,3095,19969,2019-01-01
4833,E01033745,12697,10101,13403,22088,19154,20703,1047,19362,2019-01-01
4834,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2019-01-01

In [47]:
merge_df['Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)'] = merge_df['Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)'].astype(str).str.replace('.', '', regex=False)
merge_df['Income Rank (where 1 is most deprived)'] = merge_df['Income Rank (where 1 is most deprived)'].astype(str).str.replace('.', '', regex=False)
merge_df['Employment Rank (where 1 is most deprived)'] = merge_df['Employment Rank (where 1 is most deprived)'].astype(str).str.replace('.', '', regex=False)
merge_df['Education, Skills and Training Rank (where 1 is most deprived)'] = merge_df['Education, Skills and Training Rank (where 1 is most deprived)'].astype(str).str.replace('.', '', regex=False)
merge_df['Health Deprivation and Disability Rank (where 1 is most deprived)'] = merge_df['Health Deprivation and Disability Rank (where 1 is most deprived)'].astype(str).str.replace('.', '', regex=False)
merge_df['Crime Rank (where 1 is most deprived)'] = merge_df['Crime Rank (where 1 is most deprived)'].astype(str).str.replace('.', '', regex=False)
merge_df['Barriers to Housing and Services Rank (where 1 is most deprived)'] = merge_df['Barriers to Housing and Services Rank (where 1 is most deprived)'].astype(str).str.replace('.', '', regex=False)
merge_df['Living Environment Rank (where 1 is most deprived)'] = merge_df['Living Environment Rank (where 1 is most deprived)'].astype(str).str.replace('.', '', regex=False)
merge_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date
0,E01000027,3924,353,6518,3828,806,1592,3054,1662,2015-01-01
1,E01000028,3617,254,4211,9352,1744,12893,2512,20318,2015-01-01
2,E01000029,989,13523,14189,14483,14024,2282,1717,15264,2015-01-01
3,E01000030,413,2853,6305,5743,10294,4184,1427,13365,2015-01-01
4,E01000031,1082,13154,125,19106,16658,8890,9476,1077,2015-01-01
...,...,...,...,...,...,...,...,...,...,...
232075,E01004669,4405,3565,5758,14341,7619,11296,9120,3347,2018-12-01
232076,E01004737,13031,11504,13939,23213,18436,14224,5747,5408,2018-12-01
232077,E01004738,18644,26307,2945,32625,28335,8308,7747,8470,2018-12-01
232078,E01004739,21239,25331,30324,32348,22225,25616,5927,2185,2018-12-01
232079,E01004741,9189,10508,14545,24002,14645,764,3265,8810,2018-12-01

In [48]:
merge_df = pd.concat([merge_df, deprivation_2019_filtered])
merge_df = merge_df.reset_index(drop=True)
merge_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date
0,E01000027,3924,353,6518,3828,806,1592,3054,1662,2015-01-01
1,E01000028,3617,254,4211,9352,1744,12893,2512,20318,2015-01-01
2,E01000029,989,13523,14189,14483,14024,2282,1717,15264,2015-01-01
3,E01000030,413,2853,6305,5743,10294,4184,1427,13365,2015-01-01
4,E01000031,1082,13154,125,19106,16658,8890,9476,1077,2015-01-01
...,...,...,...,...,...,...,...,...,...,...
236910,E01033742,20945,19844,27920,24139,22041,19491,2042,21492,2019-01-01
236911,E01033743,13578,12244,21210,22640,19077,13267,286,22054,2019-01-01
236912,E01033744,8319,7767,9762,15227,5225,10943,3095,19969,2019-01-01
236913,E01033745,12697,10101,13403,22088,19154,20703,1047,19362,2019-01-01
236914,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2019-01-01

In [49]:
for col in merge_df.columns:
    if 'Rank' in col:
        merge_df[col] = merge_df[col].astype(int)
        
merge_df['LSOA code (2011)'] = merge_df['LSOA code (2011)'].astype('string')        
merge_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date
0,E01000027,3924,353,6518,3828,806,1592,3054,1662,2015-01-01
1,E01000028,3617,254,4211,9352,1744,12893,2512,20318,2015-01-01
2,E01000029,989,13523,14189,14483,14024,2282,1717,15264,2015-01-01
3,E01000030,413,2853,6305,5743,10294,4184,1427,13365,2015-01-01
4,E01000031,1082,13154,125,19106,16658,8890,9476,1077,2015-01-01
...,...,...,...,...,...,...,...,...,...,...
236910,E01033742,20945,19844,27920,24139,22041,19491,2042,21492,2019-01-01
236911,E01033743,13578,12244,21210,22640,19077,13267,286,22054,2019-01-01
236912,E01033744,8319,7767,9762,15227,5225,10943,3095,19969,2019-01-01
236913,E01033745,12697,10101,13403,22088,19154,20703,1047,19362,2019-01-01
236914,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2019-01-01

In [50]:
merge_df.dtypes

LSOA code (2011)                                                       string[python]
Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)             int64
Income Rank (where 1 is most deprived)                                          int64
Employment Rank (where 1 is most deprived)                                      int64
Education, Skills and Training Rank (where 1 is most deprived)                  int64
Health Deprivation and Disability Rank (where 1 is most deprived)               int64
Crime Rank (where 1 is most deprived)                                           int64
Barriers to Housing and Services Rank (where 1 is most deprived)                int64
Living Environment Rank (where 1 is most deprived)                              int64
date                                                                   datetime64[ns]
dtype: object

In [51]:
# now we add street

street = street.drop(columns=['Crime ID', 'Reported by', 'Falls within', 'Location', 'Last outcome category', 'geometry'])
street

        LSOA code   period
0       W01000936  2021-01
1       E01022243  2020-06
2       E01014704  2017-08
3       E01029225  2022-03
4       E01032645  2023-01
...           ...      ...
999758  E01024561  2019-04
999759  E01024126  2022-08
999760  E01022045  2020-02
999761  E01024683  2017-01
999762  E01024649  2022-03

[999763 rows x 2 columns]

In [52]:
street = street.groupby(['LSOA code', 'period'], observed=True).size().reset_index(name='Burglaries amount')
street.head(10)

   LSOA code   period  Burglaries amount
0  E01000001  2011-06                  1
1  E01000001  2011-08                  1
2  E01000001  2011-12                  2
3  E01000001  2012-01                  1
4  E01000001  2012-03                  2
5  E01000001  2012-05                  1
6  E01000001  2012-06                  1
7  E01000001  2012-07                  8
8  E01000001  2012-09                  1
9  E01000001  2012-10                  1

In [53]:
# Only keep the rows relevant to London

# Get the unique Lsoa codes from merge_df
lsoa_codes_to_keep = merge_df['LSOA code (2011)'].unique()

street = street[street['LSOA code'].isin(lsoa_codes_to_keep)]
street = street.reset_index().drop(columns='index')

street

        LSOA code   period  Burglaries amount
0       E01000001  2011-06                  1
1       E01000001  2011-08                  1
2       E01000001  2011-12                  2
3       E01000001  2012-01                  1
4       E01000001  2012-03                  2
...           ...      ...                ...
497467  E01033746  2023-12                  1
497468  E01033746  2024-01                  1
497469  E01033746  2024-02                  1
497470  E01033746  2024-09                  1
497471  E01033746  2025-02                  1

[497472 rows x 3 columns]

In [54]:
street['period'].max()

Period('2025-03', 'M')

In [55]:
last_entries = merge_df.groupby('LSOA code (2011)').tail(1).copy()

# Define the target end date for the extension
target_date = pd.to_datetime('2025-03')

# Create an empty list to store the new rows
new_rows = []

# Loop through each of the last entries
for index, row in last_entries.iterrows():
    lsoa_code = row['LSOA code (2011)']
    last_period = row['date']

    # Start from the month *after* the last observed period
    current_month_to_add = last_period + pd.DateOffset(months=1)

    # While loop to add months until the target date is reached
    while current_month_to_add <= target_date:
        new_row = row.copy()  # Make a copy of the entire last row
        new_row['date'] = current_month_to_add # Update only the 'period'
        new_rows.append(new_row)
        current_month_to_add += pd.DateOffset(months=1)

# Convert the list of new rows to a DataFrame
df_new_rows = pd.DataFrame(new_rows)

# Concatenate the original DataFrame with the newly generated rows
df_extended = pd.concat([merge_df, df_new_rows], ignore_index=True)

# Sort the final DataFrame by LSOA code and period for clean output
merge_df = df_extended.sort_values(by=['date', 'LSOA code (2011)']).reset_index(drop=True)

merge_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date
0,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2015-01-01
1,E01000002,28855,3278,32692,32836,32431,32436,9716,5711,2015-01-01
2,E01000003,14621,176,18133,22251,11639,29256,5633,2593,2015-01-01
3,E01000005,10285,7255,9641,1742,15392,27804,3981,662,2015-01-01
4,E01000006,12345,1419,16938,17806,21793,5849,2197,844,2015-01-01
...,...,...,...,...,...,...,...,...,...,...
594700,E01033742,20945,19844,27920,24139,22041,19491,2042,21492,2025-03-01
594701,E01033743,13578,12244,21210,22640,19077,13267,286,22054,2025-03-01
594702,E01033744,8319,7767,9762,15227,5225,10943,3095,19969,2025-03-01
594703,E01033745,12697,10101,13403,22088,19154,20703,1047,19362,2025-03-01
594704,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-03-01

In [56]:
first_entries = merge_df.groupby('LSOA code (2011)').head(1).copy() 

# Define the target end date for the extension
target_date = pd.to_datetime('2010-12')

# Create an empty list to store the new rows
new_rows = []

# Loop through each of the first entries
for index, row in first_entries.iterrows():
    lsoa_code = row['LSOA code (2011)']
    first_period = row['date'] # This is the earliest date we have for this LSOA

    # Start from the month *before* the first observed period
    current_month_to_add = first_period - pd.DateOffset(months=1)

    # While loop to add months backward until the target date is reached or passed
    # The condition is '>= target_date' to include the target month itself
    while current_month_to_add >= target_date:
        new_row = row.copy()  # Make a copy of the entire first row
        new_row['date'] = current_month_to_add # Update only the 'date'
        new_rows.append(new_row)
        current_month_to_add -= pd.DateOffset(months=1) # Move backward one month

# Convert the list of new rows to a DataFrame
df_new_rows = pd.DataFrame(new_rows)

# Concatenate the original DataFrame with the newly generated rows
df_extended = pd.concat([merge_df, df_new_rows], ignore_index=True)

# Sort the final DataFrame by LSOA code and date for clean output
# Sorting by 'date' first ensures chronological order within the LSOAs
merge_df = df_extended.sort_values(by=['LSOA code (2011)', 'date']).reset_index(drop=True)

merge_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date
0,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2010-12-01
1,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-01-01
2,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-02-01
3,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-03-01
4,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-04-01
...,...,...,...,...,...,...,...,...,...,...
831615,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-11-01
831616,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-12-01
831617,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-01-01
831618,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-02-01
831619,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-03-01

In [57]:
merge_df['date'] = pd.to_datetime(merge_df['date']).dt.to_period('M')
merge_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date
0,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2010-12
1,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-01
2,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-02
3,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-03
4,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-04
...,...,...,...,...,...,...,...,...,...,...
831615,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-11
831616,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-12
831617,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-01
831618,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-02
831619,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-03

In [58]:
street = street.rename(columns={'LSOA code': 'LSOA code (2011)', 'period': 'date', 'Burglaries amount': 'Burglaries amount'})

merge = pd.merge(
    merge_df,
    street,
    on=['LSOA code (2011)', 'date'],
    how='left'
)

merge = merge.fillna(0)
merge['Burglaries amount'] = merge['Burglaries amount'].astype(int)

merge

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date,Burglaries amount
0,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2010-12,0
1,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-01,0
2,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-02,0
3,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-03,0
4,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-04,0
...,...,...,...,...,...,...,...,...,...,...,...
831615,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-11,0
831616,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-12,0
831617,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-01,0
831618,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-02,1
831619,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-03,0

In [59]:
busy

,name,group,geometry,latitude,longitude,lsoa_code
0,Tesco Express,shop,b'\x01\x01\x00\x00\x00tb\x0f\xedc\x05\xc0\xbf(...,51.511122,-0.125165,E01004734
1,None,shop,b'\x01\x01\x00\x00\x00H\xb5\x99T~c\xc7\xbf*\x0...,51.550055,-0.182724,E01000972
2,Tesco Express,shop,b'\x01\x01\x00\x00\x00\xee\xc0\xef\x95/\x1e\xc...,51.562078,-0.149359,E01000909
3,Chris Dry Cleaners,shop,b'\x01\x01\x00\x00\x00\x9d~\xf5]\xb6B\xb3\xbf\...,51.551313,-0.075237,E01001747
4,M&S Foodhall,shop,b'\x01\x01\x00\x00\x00yMY\x97d.\xc2\xbf\x1b\xb...,51.537810,-0.142041,E01000863
...,...,...,...,...,...,...
77021,None,parking,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x0b\x00...,51.515215,-0.168673,E01004683
77022,None,parking,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\t\x00\x...,51.413759,-0.077673,E01001138
77023,None,parking,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x08\x00...,51.494106,-0.236990,E01001928
77024,None,parking,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x0c\x00...,51.409700,-0.149445,E01003412
77025,None,parking,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...,51.529106,-0.463202,E01002412

In [60]:
busy = busy.rename(columns={'lsoa_code': 'LSOA code (2011)'})

busy

,name,group,geometry,latitude,longitude,LSOA code (2011)
0,Tesco Express,shop,b'\x01\x01\x00\x00\x00tb\x0f\xedc\x05\xc0\xbf(...,51.511122,-0.125165,E01004734
1,None,shop,b'\x01\x01\x00\x00\x00H\xb5\x99T~c\xc7\xbf*\x0...,51.550055,-0.182724,E01000972
2,Tesco Express,shop,b'\x01\x01\x00\x00\x00\xee\xc0\xef\x95/\x1e\xc...,51.562078,-0.149359,E01000909
3,Chris Dry Cleaners,shop,b'\x01\x01\x00\x00\x00\x9d~\xf5]\xb6B\xb3\xbf\...,51.551313,-0.075237,E01001747
4,M&S Foodhall,shop,b'\x01\x01\x00\x00\x00yMY\x97d.\xc2\xbf\x1b\xb...,51.537810,-0.142041,E01000863
...,...,...,...,...,...,...
77021,None,parking,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x0b\x00...,51.515215,-0.168673,E01004683
77022,None,parking,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\t\x00\x...,51.413759,-0.077673,E01001138
77023,None,parking,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x08\x00...,51.494106,-0.236990,E01001928
77024,None,parking,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x0c\x00...,51.409700,-0.149445,E01003412
77025,None,parking,b'\x01\x03\x00\x00\x00\x01\x00\x00\x00\x05\x00...,51.529106,-0.463202,E01002412

In [61]:
# Group by 'LSOA code (2011)' and then by 'group', and count the occurrences
counts_by_lsoa = busy.groupby(['LSOA code (2011)', 'group']).size().unstack(fill_value=0)

counts_by_lsoa

group,education,emergency,entertainment,food,leisure,parking,shop,transport
LSOA code (2011),,,,,,,,
E01000001,0,1,0,14,2,4,10,0
E01000002,4,0,4,28,1,3,5,1
E01000003,0,0,0,3,2,1,6,0
E01000005,1,0,0,75,2,6,47,3
E01000007,1,0,0,9,2,5,13,1
...,...,...,...,...,...,...,...,...
E01033743,1,0,0,1,1,6,1,0
E01033744,1,0,0,0,0,5,2,0
E01033745,1,0,0,0,1,14,0,0
E01033746,0,1,0,2,0,2,1,0
E01034208,1,0,0,15,2,8,12,2

In [62]:
merge = pd.merge(merge, counts_by_lsoa, on='LSOA code (2011)', how='left')

merge = merge.fillna(0)

merge

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date,Burglaries amount,education,emergency,entertainment,food,leisure,parking,shop,transport
0,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2010-12,0,0.0,1.0,0.0,14.0,2.0,4.0,10.0,0.0
1,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-01,0,0.0,1.0,0.0,14.0,2.0,4.0,10.0,0.0
2,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-02,0,0.0,1.0,0.0,14.0,2.0,4.0,10.0,0.0
3,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-03,0,0.0,1.0,0.0,14.0,2.0,4.0,10.0,0.0
4,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-04,0,0.0,1.0,0.0,14.0,2.0,4.0,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831615,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-11,0,0.0,1.0,0.0,2.0,0.0,2.0,1.0,0.0
831616,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-12,0,0.0,1.0,0.0,2.0,0.0,2.0,1.0,0.0
831617,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-01,0,0.0,1.0,0.0,2.0,0.0,2.0,1.0,0.0
831618,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-02,1,0.0,1.0,0.0,2.0,0.0,2.0,1.0,0.0
831619,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-03,0,0.0,1.0,0.0,2.0,0.0,2.0,1.0,0.0

In [63]:
merge['education'] = merge['education'].astype(int)
merge['emergency'] = merge['emergency'].astype(int)
merge['entertainment'] = merge['entertainment'].astype(int)
merge['food'] = merge['food'].astype(int)
merge['leisure'] = merge['leisure'].astype(int)
merge['parking'] = merge['parking'].astype(int)
merge['shop'] = merge['shop'].astype(int)
merge['transport'] = merge['transport'].astype(int)

merge = merge.rename(columns={'education': 'Education locations', 'emergency': 'Emergency locations',
                              'entertainment': 'Entertainment locations', 'food': 'Food locations',
                             'leisure': 'Leisure locations', 'parking': 'Parking locations',
                             'shop': 'Shopping locations', 'transport': 'Public transport locations'})

merge

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date,Burglaries amount,Education locations,Emergency locations,Entertainment locations,Food locations,Leisure locations,Parking locations,Shopping locations,Public transport locations
0,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2010-12,0,0,1,0,14,2,4,10,0
1,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-01,0,0,1,0,14,2,4,10,0
2,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-02,0,0,1,0,14,2,4,10,0
3,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-03,0,0,1,0,14,2,4,10,0
4,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-04,0,0,1,0,14,2,4,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831615,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-11,0,0,1,0,2,0,2,1,0
831616,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-12,0,0,1,0,2,0,2,1,0
831617,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-01,0,0,1,0,2,0,2,1,0
831618,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-02,1,0,1,0,2,0,2,1,0
831619,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-03,0,0,1,0,2,0,2,1,0

In [64]:
# Save the file
output_file = 'merged_data.parquet'
merge.to_parquet(output_file, index=False)

In [66]:
read_df = pd.read_parquet(output_file)
read_df

,LSOA code (2011),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Income Rank (where 1 is most deprived),Employment Rank (where 1 is most deprived),"Education, Skills and Training Rank (where 1 is most deprived)",Health Deprivation and Disability Rank (where 1 is most deprived),Crime Rank (where 1 is most deprived),Barriers to Housing and Services Rank (where 1 is most deprived),Living Environment Rank (where 1 is most deprived),date,Burglaries amount,Education locations,Emergency locations,Entertainment locations,Food locations,Leisure locations,Parking locations,Shopping locations,Public transport locations
0,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2010-12,0,0,1,0,14,2,4,10,0
1,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-01,0,0,1,0,14,2,4,10,0
2,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-02,0,0,1,0,14,2,4,10,0
3,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-03,0,0,1,0,14,2,4,10,0
4,E01000001,29111,32813,32716,3284,32408,3236,9056,675,2011-04,0,0,1,0,14,2,4,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831615,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-11,0,0,1,0,2,0,2,1,0
831616,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2024-12,0,0,1,0,2,0,2,1,0
831617,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-01,0,0,1,0,2,0,2,1,0
831618,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-02,1,0,1,0,2,0,2,1,0
831619,E01033746,12902,10921,15173,25745,22199,6747,12146,2734,2025-03,0,0,1,0,2,0,2,1,0

In [73]:
# 1. First, identify the LSOA with the highest amount of burglaries (as done previously)
lsoa_burglaries_sum = read_df.groupby('LSOA code (2011)')['Burglaries amount'].sum()
highest_burglaries_lsoa = lsoa_burglaries_sum.idxmax() # .idxmax() directly gives the index of the max value

print(f"LSOA with the highest amount of burglaries: {highest_burglaries_lsoa}")
print(f"Total burglaries in this LSOA: {lsoa_burglaries_sum.max()}")

# 2. Filter the original DataFrame to only include rows for this specific LSOA
burglaries_in_highest_lsoa = read_df[read_df['LSOA code (2011)'] == highest_burglaries_lsoa]

# 3. Now, you can see all the months/periods and their corresponding burglary amounts for this LSOA
print(f"\nAll burglary data for {highest_burglaries_lsoa}:")
burglaries_in_highest_lsoa[['date', 'Burglaries amount']]

LSOA with the highest amount of burglaries: E01033595
Total burglaries in this LSOA: 2783

All burglary data for E01033595:

           date  Burglaries amount
822504  2010-12                 10
822505  2011-01                 24
822506  2011-02                 21
822507  2011-03                 15
822508  2011-04                 15
...         ...                ...
822671  2024-11                  0
822672  2024-12                  0
822673  2025-01                  0
822674  2025-02                  0
822675  2025-03                  0

[172 rows x 2 columns]

# TODO

- LSOA codes have changed in 2021, account for this