In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

#deprivation_index_2015 = pd.read_parquet("../processed_data/deprivation_2015.parquet")

deprivation_index = pd.read_parquet("../processed_data/deprivation_index.parquet")

big_dataset = pd.read_parquet("../processed_data/lsoa_data2.parquet")

deprivation_index

,ls11cd,la19nm,england_imd_rank,england_imd_decile,london_imd_rank,london_imd_decile,IDAOP_london_rank,IDAOP_london_decile,IDACI_london_rank,IDACI_london_decile,...,crime_london_rank,crime_london_decile,barriers_london_rank,barriers_london_decile,livingEnv_london_rank,livingEnv_london_decile,health_london_rank,health_london_decile,edu_london_rank,edu_london_decile
0,E01000001,City of London,29199,9,4576,10,"32,820",10,32806,10,...,32662,10,2679,6,7789,4,32113,10,32842,10
1,E01000002,City of London,30379,10,4700,10,"31,938",10,29682,10,...,32789,10,3645,8,13070,7,29705,9,32832,10
2,E01000003,City of London,14915,5,2562,6,"16,377",8,27063,9,...,29363,10,984,3,4092,2,17600,4,26386,8
3,E01000005,City of London,8678,3,1325,3,"3,885",3,9458,4,...,31059,10,1003,3,9397,5,17907,4,12370,2
4,E01000006,Barking and Dagenham,14486,5,2485,6,"12,934",7,13592,6,...,18848,8,495,2,10629,6,21581,6,17511,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01033742,Greenwich,20945,7,3538,8,"13,951",7,15247,6,...,19491,8,936,2,21492,10,22041,6,24139,7
4831,E01033743,Greenwich,13578,5,2347,5,"1,937",2,12435,5,...,13267,6,153,1,22054,10,19077,5,22640,6
4832,E01033744,Greenwich,8319,3,1235,3,"1,097",1,10715,5,...,10943,5,1345,3,19969,10,5225,1,15227,3
4833,E01033745,Greenwich,12697,4,2184,5,"5,167",4,11278,5,...,20703,9,503,2,19362,10,19154,5,22088,6
4834,E01033746,Greenwich,12902,4,2227,5,"7,329",5,10657,5,...,6747,3,3711,8,2734,1,22199,6,25745,7

In [19]:
# remove the name
deprivation_index = deprivation_index.drop(['la19nm'], axis=1)
deprivation_index

,ls11cd,england_imd_rank,england_imd_decile,london_imd_rank,london_imd_decile,IDAOP_london_rank,IDAOP_london_decile,IDACI_london_rank,IDACI_london_decile,Income_london_rank,...,crime_london_rank,crime_london_decile,barriers_london_rank,barriers_london_decile,livingEnv_london_rank,livingEnv_london_decile,health_london_rank,health_london_decile,edu_london_rank,edu_london_decile
0,E01000001,29199,9,4576,10,"32,820",10,32806,10,32831,...,32662,10,2679,6,7789,4,32113,10,32842,10
1,E01000002,30379,10,4700,10,"31,938",10,29682,10,29901,...,32789,10,3645,8,13070,7,29705,9,32832,10
2,E01000003,14915,5,2562,6,"16,377",8,27063,9,18510,...,29363,10,984,3,4092,2,17600,4,26386,8
3,E01000005,8678,3,1325,3,"3,885",3,9458,4,6029,...,31059,10,1003,3,9397,5,17907,4,12370,2
4,E01000006,14486,5,2485,6,"12,934",7,13592,6,14023,...,18848,8,495,2,10629,6,21581,6,17511,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01033742,20945,7,3538,8,"13,951",7,15247,6,19844,...,19491,8,936,2,21492,10,22041,6,24139,7
4831,E01033743,13578,5,2347,5,"1,937",2,12435,5,12244,...,13267,6,153,1,22054,10,19077,5,22640,6
4832,E01033744,8319,3,1235,3,"1,097",1,10715,5,7767,...,10943,5,1345,3,19969,10,5225,1,15227,3
4833,E01033745,12697,4,2184,5,"5,167",4,11278,5,10101,...,20703,9,503,2,19362,10,19154,5,22088,6
4834,E01033746,12902,4,2227,5,"7,329",5,10657,5,10921,...,6747,3,3711,8,2734,1,22199,6,25745,7

In [21]:
# all of the columns present
print(list(deprivation_index.columns))

['ls11cd', 'england_imd_rank', 'england_imd_decile', 'london_imd_rank', 'london_imd_decile', 'IDAOP_london_rank', 'IDAOP_london_decile', 'IDACI_london_rank', 'IDACI_london_decile', 'Income_london_rank', 'Income_london_decile', 'employment_london_rank', 'employment_london_decile', 'crime_london_rank', 'crime_london_decile', 'barriers_london_rank', 'barriers_london_decile', 'livingEnv_london_rank', 'livingEnv_london_decile', 'health_london_rank', 'health_london_decile', 'edu_london_rank', 'edu_london_decile']

In [26]:
deprivation_index_2015

,LSOA code (2011),LSOA name (2011),Local Authority District code (2013),Local Authority District name (2013),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),Employment Rank (where 1 is most deprived),Employment Decile (where 1 is most deprived 10% of LSOAs),"Education, Skills and Training Rank (where 1 is most deprived)","Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)",Health Deprivation and Disability Rank (where 1 is most deprived),Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs),Crime Rank (where 1 is most deprived),Crime Decile (where 1 is most deprived 10% of LSOAs),Barriers to Housing and Services Rank (where 1 is most deprived),Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs),Living Environment Rank (where 1 is most deprived),Living Environment Decile (where 1 is most deprived 10% of LSOAs)
0,E01031349,Adur 001A,E07000223,Adur,21.352,7,18.992,6,19.305,6,13.727,5,25.876,8,12.817,4,28.166,9,18.367,6
1,E01031350,Adur 001B,E07000223,Adur,8.864,3,9.233,3,7.879,3,6.969,3,6.883,3,12.781,4,11.399,4,16.242,5
2,E01031351,Adur 001C,E07000223,Adur,22.143,7,24.539,8,23.389,8,10.213,4,24.693,8,9.112,3,24.743,8,22.299,7
3,E01031352,Adur 001D,E07000223,Adur,17.252,6,16.087,5,13.699,5,10.468,4,19.627,6,16.127,5,19.559,6,22.819,7
4,E01031370,Adur 001E,E07000223,Adur,15.643,5,17.918,6,13.322,5,7.819,3,14.893,5,13.723,5,22.433,7,18.191,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32839,E01013341,York 024B,E06000014,York,29.241,9,23.882,8,25.735,8,28.951,9,22.059,7,32.556,10,21.911,7,24.596,8
32840,E01013342,York 024C,E06000014,York,25.821,8,28.669,9,30.349,10,30.892,10,28.677,9,32.281,10,2.098,1,16.385,5
32841,E01013423,York 024D,E06000014,York,32.637,10,32.214,10,31.726,10,31.757,10,31.363,10,30.384,10,21.452,7,27.475,9
32842,E01013424,York 024E,E06000014,York,32.799,10,31.791,10,30.899,10,32.047,10,30.865,10,29.045,9,32.743,10,28.216,9
32843,E01013425,York 024F,E06000014,York,31.273,10,28.014,9,29.086,9,29.624,10,25.763,8,29.387,9,25.800,8,22.692,7

In [32]:
# Only keep the rows relevant to London

# Get the unique Lsoa codes from df_lsoa_codes
lsoa_codes_to_keep = deprivation_index['ls11cd'].unique()

deprivation_index_2015_filtered = deprivation_index_2015[deprivation_index_2015['LSOA code (2011)'].isin(lsoa_codes_to_keep)]
deprivation_index_2015_filtered = deprivation_index_2015_filtered.reset_index().drop(columns='index')

deprivation_index_2015_filtered

,LSOA code (2011),LSOA name (2011),Local Authority District code (2013),Local Authority District name (2013),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),Employment Rank (where 1 is most deprived),Employment Decile (where 1 is most deprived 10% of LSOAs),"Education, Skills and Training Rank (where 1 is most deprived)","Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)",Health Deprivation and Disability Rank (where 1 is most deprived),Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs),Crime Rank (where 1 is most deprived),Crime Decile (where 1 is most deprived 10% of LSOAs),Barriers to Housing and Services Rank (where 1 is most deprived),Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs),Living Environment Rank (where 1 is most deprived),Living Environment Decile (where 1 is most deprived 10% of LSOAs)
0,E01000027,Barking and Dagenham 001A,E09000002,Barking and Dagenham,3.924,2,3.530,2,6.518,2,3.828,2,8.060,3,1.592,1,3.054,1,16.620,6
1,E01000028,Barking and Dagenham 001B,E09000002,Barking and Dagenham,3.617,2,2.540,1,4.211,2,9.352,3,1.744,1,12.893,4,2.512,1,20.318,7
2,E01000029,Barking and Dagenham 001C,E09000002,Barking and Dagenham,9.890,4,13.523,5,14.189,5,14.483,5,14.024,5,2.282,1,1.717,1,15.264,5
3,E01000030,Barking and Dagenham 001D,E09000002,Barking and Dagenham,4.130,2,2.853,1,6.305,2,5.743,2,10.294,4,4.184,2,1.427,1,13.365,5
4,E01000031,Barking and Dagenham 002A,E09000002,Barking and Dagenham,10.820,4,13.154,5,12.500,4,19.106,6,16.658,6,889.000,1,9.476,3,10.770,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004669,Westminster 024B,E09000033,Westminster,4.405,2,3.565,2,5.758,2,14.341,5,7.619,3,11.296,4,912.000,1,3.347,2
4831,E01004737,Westminster 024C,E09000033,Westminster,13.031,4,11.504,4,13.939,5,23.213,8,18.436,6,14.224,5,5.747,2,5.408,2
4832,E01004738,Westminster 024D,E09000033,Westminster,18.644,6,26.307,9,29.450,9,32.625,10,28.335,9,8.308,3,7.747,3,847.000,1
4833,E01004739,Westminster 024E,E09000033,Westminster,21.239,7,25.331,8,30.324,10,32.348,10,22.225,7,25.616,8,5.927,2,2.185,1
4834,E01004741,Westminster 024F,E09000033,Westminster,9.189,3,10.508,4,14.545,5,24.002,8,14.645,5,7.640,3,3.265,1,881.000,1

In [33]:
deprivation_index_2015_filtered.to_parquet("../processed_data/filtered_deprivation_2015.parquet", index=False)

In [3]:
big_dataset

,ï»¿|Level2_0|Codes,ï»¿|Level2_1|Names,Adults in Employment|No adults in employment in household: With dependent children|2011,Adults in Employment|% of households with no adults in employment: With dependent children|2011,Lone Parents|All lone parent housholds with dependent children|2011,Lone Parents|Lone parents not in employment|2011,Lone Parents|Lone parent not in employment %|2011,Economic Activity|Economically active: Total|2011,Economic Activity|Economically inactive: Total|2011,Economic Activity|Economically active: Employee|2011,...,Road Casualties|2014|Level3_97,Road Casualties|2014|Level3_98,Road Casualties|2014|Level3_99,Road Casualties|2014|Level3_100,Road Casualties|2014|Level3_101,Road Casualties|2014|Level3_102,Road Casualties|2014|Level3_103,Road Casualties|2014|Level3_104,Road Casualties|2014|Level3_105,Road Casualties|2014|Level3_106
0,E01000907,Camden 001A,65.0,10.0,92.0,51.0,"55,4",719.0,343.0,482.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E01000908,Camden 001B,41.0,5.0,70.0,34.0,"48,6",833.0,351.0,537.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E01000909,Camden 001C,16.0,2.0,22.0,13.0,"59,1",886.0,367.0,557.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E01000912,Camden 001D,49.0,7.0,63.0,30.0,"47,6",848.0,387.0,548.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E01000913,Camden 001E,6.0,1.0,16.0,2.0,"12,5",963.0,323.0,588.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4831,E01004329,Waltham Forest 028C,49.0,7.0,76.0,25.0,"32,9",1029.0,457.0,638.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4832,E01004330,Waltham Forest 028D,34.0,5.0,42.0,18.0,"42,9",1010.0,424.0,598.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4833,E01004331,Waltham Forest 028E,57.0,8.0,72.0,29.0,"40,3",976.0,412.0,591.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4834,E01004332,Waltham Forest 028F,38.0,6.0,56.0,26.0,"46,4",1011.0,368.0,597.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4835,None,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import pandas as pd

deprivation_2015 = pd.read_parquet("../processed_data/filtered_deprivation_2015.parquet")
deprivation_2015

,LSOA code (2011),LSOA name (2011),Local Authority District code (2013),Local Authority District name (2013),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),Employment Rank (where 1 is most deprived),Employment Decile (where 1 is most deprived 10% of LSOAs),"Education, Skills and Training Rank (where 1 is most deprived)","Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)",Health Deprivation and Disability Rank (where 1 is most deprived),Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs),Crime Rank (where 1 is most deprived),Crime Decile (where 1 is most deprived 10% of LSOAs),Barriers to Housing and Services Rank (where 1 is most deprived),Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs),Living Environment Rank (where 1 is most deprived),Living Environment Decile (where 1 is most deprived 10% of LSOAs)
0,E01000027,Barking and Dagenham 001A,E09000002,Barking and Dagenham,3.924,2,3.530,2,6.518,2,3.828,2,8.060,3,1.592,1,3.054,1,16.620,6
1,E01000028,Barking and Dagenham 001B,E09000002,Barking and Dagenham,3.617,2,2.540,1,4.211,2,9.352,3,1.744,1,12.893,4,2.512,1,20.318,7
2,E01000029,Barking and Dagenham 001C,E09000002,Barking and Dagenham,9.890,4,13.523,5,14.189,5,14.483,5,14.024,5,2.282,1,1.717,1,15.264,5
3,E01000030,Barking and Dagenham 001D,E09000002,Barking and Dagenham,4.130,2,2.853,1,6.305,2,5.743,2,10.294,4,4.184,2,1.427,1,13.365,5
4,E01000031,Barking and Dagenham 002A,E09000002,Barking and Dagenham,10.820,4,13.154,5,12.500,4,19.106,6,16.658,6,889.000,1,9.476,3,10.770,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004669,Westminster 024B,E09000033,Westminster,4.405,2,3.565,2,5.758,2,14.341,5,7.619,3,11.296,4,912.000,1,3.347,2
4831,E01004737,Westminster 024C,E09000033,Westminster,13.031,4,11.504,4,13.939,5,23.213,8,18.436,6,14.224,5,5.747,2,5.408,2
4832,E01004738,Westminster 024D,E09000033,Westminster,18.644,6,26.307,9,29.450,9,32.625,10,28.335,9,8.308,3,7.747,3,847.000,1
4833,E01004739,Westminster 024E,E09000033,Westminster,21.239,7,25.331,8,30.324,10,32.348,10,22.225,7,25.616,8,5.927,2,2.185,1
4834,E01004741,Westminster 024F,E09000033,Westminster,9.189,3,10.508,4,14.545,5,24.002,8,14.645,5,7.640,3,3.265,1,881.000,1

In [5]:
deprivation_2015.drop(columns=['Local Authority District code (2013)'])

,LSOA code (2011),LSOA name (2011),Local Authority District name (2013),Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived),Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),Employment Rank (where 1 is most deprived),Employment Decile (where 1 is most deprived 10% of LSOAs),"Education, Skills and Training Rank (where 1 is most deprived)","Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)",Health Deprivation and Disability Rank (where 1 is most deprived),Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs),Crime Rank (where 1 is most deprived),Crime Decile (where 1 is most deprived 10% of LSOAs),Barriers to Housing and Services Rank (where 1 is most deprived),Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs),Living Environment Rank (where 1 is most deprived),Living Environment Decile (where 1 is most deprived 10% of LSOAs)
0,E01000027,Barking and Dagenham 001A,Barking and Dagenham,3.924,2,3.530,2,6.518,2,3.828,2,8.060,3,1.592,1,3.054,1,16.620,6
1,E01000028,Barking and Dagenham 001B,Barking and Dagenham,3.617,2,2.540,1,4.211,2,9.352,3,1.744,1,12.893,4,2.512,1,20.318,7
2,E01000029,Barking and Dagenham 001C,Barking and Dagenham,9.890,4,13.523,5,14.189,5,14.483,5,14.024,5,2.282,1,1.717,1,15.264,5
3,E01000030,Barking and Dagenham 001D,Barking and Dagenham,4.130,2,2.853,1,6.305,2,5.743,2,10.294,4,4.184,2,1.427,1,13.365,5
4,E01000031,Barking and Dagenham 002A,Barking and Dagenham,10.820,4,13.154,5,12.500,4,19.106,6,16.658,6,889.000,1,9.476,3,10.770,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004669,Westminster 024B,Westminster,4.405,2,3.565,2,5.758,2,14.341,5,7.619,3,11.296,4,912.000,1,3.347,2
4831,E01004737,Westminster 024C,Westminster,13.031,4,11.504,4,13.939,5,23.213,8,18.436,6,14.224,5,5.747,2,5.408,2
4832,E01004738,Westminster 024D,Westminster,18.644,6,26.307,9,29.450,9,32.625,10,28.335,9,8.308,3,7.747,3,847.000,1
4833,E01004739,Westminster 024E,Westminster,21.239,7,25.331,8,30.324,10,32.348,10,22.225,7,25.616,8,5.927,2,2.185,1
4834,E01004741,Westminster 024F,Westminster,9.189,3,10.508,4,14.545,5,24.002,8,14.645,5,7.640,3,3.265,1,881.000,1

In [7]:
print(list(deprivation_2015.columns))

['LSOA code (2011)', 'LSOA name (2011)', 'Local Authority District code (2013)', 'Local Authority District name (2013)', 'Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)', 'Index of Multiple Deprivation (IMD) Decile (where 1 is most deprived 10% of LSOAs)', 'Income Rank (where 1 is most deprived)', 'Income Decile (where 1 is most deprived 10% of LSOAs)', 'Employment Rank (where 1 is most deprived)', 'Employment Decile (where 1 is most deprived 10% of LSOAs)', 'Education, Skills and Training Rank (where 1 is most deprived)', 'Education, Skills and Training Decile (where 1 is most deprived 10% of LSOAs)', 'Health Deprivation and Disability Rank (where 1 is most deprived)', 'Health Deprivation and Disability Decile (where 1 is most deprived 10% of LSOAs)', 'Crime Rank (where 1 is most deprived)', 'Crime Decile (where 1 is most deprived 10% of LSOAs)', 'Barriers to Housing and Services Rank (where 1 is most deprived)', 'Barriers to Housing and Services Decile (where 1 is most deprived 10% of LSOAs)', 'Living Environment Rank (where 1 is most deprived)', 'Living Environment Decile (where 1 is most deprived 10% of LSOAs)']