In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

lsoadata = pd.read_parquet("../processed_data/filtered_lsoa_data.parquet")

In [2]:
lsoadata

,﻿|Level2_0|Codes,﻿|Level2_1|Names,Mid-year Population Estimates|All Ages|2001,Mid-year Population Estimates|All Ages|2002,Mid-year Population Estimates|All Ages|2003,Mid-year Population Estimates|All Ages|2004,Mid-year Population Estimates|All Ages|2005,Mid-year Population Estimates|All Ages|2006,Mid-year Population Estimates|All Ages|2007,Mid-year Population Estimates|All Ages|2008,...,Ethnic Group|Mixed/multiple ethnic groups (%)|2011,Ethnic Group|Asian/Asian British (%)|2011,Ethnic Group|Black/African/Caribbean/Black British (%)|2011,Ethnic Group|Other ethnic group (%)|2011,Ethnic Group|BAME (%)|2011,Tenure|Owned outright (%)|2011,Tenure|Owned with a mortgage or loan (%)|2011,Tenure|Social rented (%)|2011,Tenure|Private rented (%)|2011,"Dwelling type|Flat, maisonette or apartment (%)|2011"
0,E01000907,Camden 001A,1519.0,1538.0,1528.0,1547.0,1593.0,1492.0,1455.0,1457.0,...,"7,3","8,5","7,9","2,8","26,5","12,6","18,0","54,4","13,7","78,3"
1,E01000908,Camden 001B,1547.0,1577.0,1605.0,1637.0,1629.0,1598.0,1605.0,1526.0,...,"8,7","6,2","8,0","4,7","27,6","14,0","17,7","52,6","14,0","85,0"
2,E01000909,Camden 001C,1600.0,1598.0,1618.0,1634.0,1610.0,1635.0,1615.0,1584.0,...,"5,5","4,6","2,9","2,9","15,9","38,3","21,2","18,6","18,8","57,8"
3,E01000912,Camden 001D,1738.0,1728.0,1678.0,1707.0,1710.0,1669.0,1645.0,1618.0,...,"5,6","5,1","9,2","2,8","22,7","15,3","14,6","51,3","15,0","87,2"
4,E01000913,Camden 001E,1617.0,1676.0,1662.0,1714.0,1705.0,1690.0,1716.0,1657.0,...,"5,1","4,7","1,3","0,7","11,8","47,1","27,6","1,9","19,4","45,3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004328,Waltham Forest 028B,1505.0,1542.0,1541.0,1557.0,1591.0,1654.0,1660.0,1755.0,...,"5,7","18,4","23,8","4,2","52,0","13,1","32,3","14,9","38,5","38,8"
4831,E01004329,Waltham Forest 028C,1493.0,1505.0,1503.0,1548.0,1571.0,1620.0,1669.0,1732.0,...,"4,0","24,1","28,4","3,1","59,6","13,7","33,2","15,1","36,2","21,0"
4832,E01004330,Waltham Forest 028D,1524.0,1447.0,1439.0,1504.0,1529.0,1576.0,1614.0,1684.0,...,"5,0","18,0","23,7","2,7","49,3","19,7","33,8","10,4","35,0","13,0"
4833,E01004331,Waltham Forest 028E,1490.0,1510.0,1513.0,1582.0,1587.0,1615.0,1656.0,1664.0,...,"7,2","21,3","30,5","2,5","61,5","16,1","26,2","21,0","34,7","21,8"
4834,E01004332,Waltham Forest 028F,1543.0,1575.0,1631.0,1616.0,1601.0,1619.0,1647.0,1693.0,...,"7,2","22,8","22,8","4,1","56,8","14,4","21,6","20,9","40,0","40,2"