In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

social = pd.read_parquet("../processed_data/socialrent.parquet") # discard too little data
social

,Code,New Code,Area,1996-97,1997-98,1998-99,1999-00,2000-01,2001-02,2002-03,...,2014-15,2015-16,2016-17,2017-2018,2018-2019,2019-20,2020-21,2021-22,2022-23,2023-24
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,00AA,E09000001,City of London,"55,34","55,82","56,83","58,58","58,7","60,43","63,12",...,"100,69","104,73","105,66","104,62","100,51","103,08","106,01","107,87","112,64","122,41"
2,00AB,E09000002,Barking and Dagenham,"39,71","42,1","44,43","49,68","52,24","54,52","57,56",...,"91,99","98,58",.,"97,27","94,89","95,52","97,02","96,88","102,74","108,44"
3,00AC,E09000003,Barnet,"52,11","52,6","52,59","55,35","56,92","57,78","61,9",...,"101,05","103,36","102,92","102,75","102,52","101,37","104,61","107,27","113,48","120,08"
4,00AD,E09000004,Bexley,"53,02","58,52",LSVT,LSVT,LSVT,LSVT,LSVT,...,LSVT,LSVT,LSVT,LSVT,LSVT,..,..,..,..,"159,10"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
273,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
274,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
275,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
276,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [2]:
road = pd.read_parquet("../processed_data/roada.parquet") # discard too little data
road

,"Code""",Region,Local Authority,Trunk motorways,Principal motorways,All motorways,Trunk rural 'A' roads,Trunk urban 'A' roads,Principal rural 'A' roads,Principal urban 'A' roads,...,Major trunk roads,Major principal roads,All major roads,Rural 'B' roads,Urban 'B' roads,Rural 'C and U' roads,Urban 'C and U' roads,All minor roads,Total road length,Notes
0,E09000002,London,Barking and Dagenham,0,0,0,0,0,"2,2","35,1",...,0,"37,3","37,3",0,"2,9","9,9","292,5","305,4","342,7",[Note 1] [Note 5]
1,E09000003,London,Barnet,12,0,12,0,0,"8,8","88,4",...,12,"97,2","109,2","1,2","17,8","6,4","631,3","656,7","765,9",[Note 1] [Note 5]
2,E09000004,London,Bexley,0,0,0,0,0,"9,2","60,2",...,0,"69,4","69,4","1,5","10,8","10,2","458,3","480,9","550,3",[Note 1] [Note 5]
3,E09000005,London,Brent,0,0,0,0,0,0,"55,9",...,0,"55,9","55,9",0,15,0,"393,1","408,1",464,[Note 1] [Note 5]
4,E09000006,London,Bromley,0,0,0,0,0,"17,3","72,7",...,0,90,90,"4,1","24,2","92,8","702,6","823,6","913,6",[Note 1] [Note 5]
5,E09000007,London,Camden,0,0,0,0,0,0,"38,6",...,0,"38,6","38,6",0,"19,8",0,"218,8","238,6","277,2",[Note 1] [Note 5]
6,E09000001,London,City of London,0,0,0,0,0,0,"12,4",...,0,"12,4","12,4",0,"1,1",0,"34,2","35,3","47,7",[Note 1] [Note 5]
7,E09000008,London,Croydon,0,0,0,0,0,"2,2","75,9",...,0,"78,1","78,1","0,7","27,4",12,"655,5","695,6","773,7",[Note 1] [Note 5]
8,E09000009,London,Ealing,0,0,0,0,0,0,"55,4",...,0,"55,4","55,4",0,"24,9",0,509,"533,9","589,3",[Note 1] [Note 3] [Note 5]
9,E09000010,London,Enfield,"11,2",0,"11,2",0,0,"13,1","68,2",...,"11,2","81,3","92,5",0,"6,6","18,2","517,6","542,4","634,9",[Note 1] [Note 5]
10,E09000011,London,Greenwich,0,0,0,0,0,0,"68,5",...,0,"68,5","68,5",0,14,0,"435,4","449,4","517,9",[Note 1] [Note 5]
11,E09000012,London,Hackney,0,0,0,0,0,1,35,...,0,36,36,"0,7","11,6","2,3","219,9","234,4","270,4",[Note 1] [Note 5]
12,E09000013,London,Hammersmith and Fulham,0,0,0,0,0,0,"32,2",...,0,"32,2","32,2",0,"4,7",0,"183,2","187,8",220,[Note 1] [Note 5]
13,E09000014,London,Haringey,0,0,0,0,0,0,"38,7",...,0,"38,7","38,7",0,"19,5",0,"295,8","315,2","353,9",[Note 1] [Note 5]
14,E09000015,London,Harrow,1,0,1,0,0,"0,9","39,8",...,1,"40,7","41,7",0,"1,8","3,6","425,4","430,8","472,5",[Note 1] [Note 5]
15,E09000016,London,Havering,"11,8",0,"11,8",0,0,"17,8","33,2",...,"11,8",51,"62,8","10,7","13,6","55,6","541,9","621,8","684,6",[Note 1] [Note 5]
16,E09000017,London,Hillingdon,"10,5",0,"10,5","1,4","0,2","7,9","63,4",...,"12,1","71,3","83,4","0,2","18,7",48,"577,9","644,8","728,2",[Note 1] [Note 5]
17,E09000018,London,Hounslow,"9,8",0,"9,8",0,0,"3,3","69,2",...,"9,8","72,5","82,3","1,8","12,9","8,3","394,5","417,5","499,8",[Note 1] [Note 5]
18,E09000019,London,Islington,0,0,0,0,0,0,"38,5",...,0,"38,5","38,5",0,"7,6",0,"190,5",198,"236,5",[Note 1] [Note 5]
19,E09000020,London,Kensington and Chelsea,0,0,0,0,0,0,"32,2",...,0,"32,2","32,2",0,"10,1",0,"171,6","181,7","213,9",[Note 1] [Note 5]
20,E09000021,London,Kingston upon Thames,0,0,0,0,0,"3,2","41,3",...,0,"44,5","44,5","1,8","6,6","1,3","288,6","298,3","342,8",[Note 1] [Note 5]
21,E09000022,London,Lambeth,0,0,0,0,0,0,55,...,0,55,55,0,"13,4",0,"315,1","328,5","383,5",[Note 1] [Note 5]
22,E09000023,London,Lewisham,0,0,0,0,0,0,"38,6",...,0,"38,6","38,6",0,"18,3",0,"376,8","395,1","433,7",[Note 1] [Note 5]
23,E09000024,London,Merton,0,0,0,0,0,0,"42,4",...,0,"42,4","42,4",0,"20,2",0,"312,5","332,7","375,1",[Note 1] [Note 5]
24,E09000025,London,Newham,0,0,0,0,0,"6,5",48,...,0,"54,5","54,5",0,"13,6","16,3","345,5","375,5",430,[Note 1] [Note 3] [Note 5]
25,E09000026,London,Redbridge,4,0,4,0,0,"12,9","45,1",...,4,58,62,"0,8","6,8","16,6","450,6","474,7","536,7",[Note 1] [Note 5]
26,E09000027,London,Richmond upon Thames,0,0,0,0,0,"8,1","54,3",...,0,"62,4","62,4",3,"20,5","7,5","319,5","350,5","412,9",[Note 1] [Note 5]
27,E09000028,London,Southwark,0,0,0,0,0,0,"55,3",...,0,"55,3","55,3",0,"17,3",0,320,"337,3","392,6",[Note 1] [Note 5]
28,E09000029,London,Sutton,0,0,0,0,0,0,"29,6",...,0,"29,6","29,6",0,"28,4",0,"411,1","439,5","469,1",[Note 1] [Note 5]
29,E09000030,London,Tower Hamlets,0,0,0,0,0,0,"41,6",...,0,"41,6","41,6",0,"22,5",0,"232,1","254,6","296,2",[Note 1] [Note 3] [Note 5]
30,E09000031,London,Waltham Forest,0,0,0,0,0,"10,9","44,3",...,0,"55,2","55,2","0,1",14,"8,8","343,6","366,4","421,6",[Note 1] [Note 5]
31,E09000032,London,Wandsworth,0,0,0,0,0,0,"56,5",...,0,"56,5","56,5",0,"14,9",0,"358,8","373,7","430,2",[Note 1] [Note 5]
32,E09000033,London,Westminster,0,0,0,0,0,0,60,...,0,60,60,0,"18,7",0,"257,1","275,8","335,8",[Note 1] [Note 5]