In [1]:
import pandas as pd

predictions = pd.read_parquet('../model/sample_predictions.parquet')
predictions

           median
E01000001     0.0
E01000002     0.0
E01000003     0.0
E01000005     0.0
E01000006     0.0
...           ...
E01035688     0.0
E01035689     0.0
E01035690     1.0
E01035691     1.0
E01035692     2.0

[4964 rows x 1 columns]

In [2]:
predictions.columns

Index(['median'], dtype='object')

In [5]:
predictions = predictions.reset_index()
predictions

          index  median
0     E01000001     0.0
1     E01000002     0.0
2     E01000003     0.0
3     E01000005     0.0
4     E01000006     0.0
...         ...     ...
4959  E01035688     0.0
4960  E01035689     0.0
4961  E01035690     1.0
4962  E01035691     1.0
4963  E01035692     2.0

[4964 rows x 2 columns]

In [9]:
predictions.loc[predictions['index'] == 'E01032739']

          index  median
4536  E01032739     4.0